In [2]:
import pandas as pd
import numpy as np
import os

## Loading Files

In [3]:
#Load File

DF = pd.read_csv(r'/Users/winsontom/Desktop/Career Foundry/Part 8- Final CF Immersion/01 Project Management/Original Data set NY-House-Dataset.csv')

In [4]:
#Checking to see file is sucesfully loaded

DF.head(1)

,BROKERTITLE,TYPE,PRICE,BEDS,BATH,PROPERTYSQFT,ADDRESS,STATE,MAIN_ADDRESS,ADMINISTRATIVE_AREA_LEVEL_2,LOCALITY,SUBLOCALITY,STREET_NAME,LONG_NAME,FORMATTED_ADDRESS,LATITUDE,LONGITUDE
0,Brokered by Douglas Elliman -111 Fifth Ave,Condo for sale,315000,2,2.0,1400.0,2 E 55th St Unit 803,"New York, NY 10022","2 E 55th St Unit 803New York, NY 10022",New York County,New York,Manhattan,East 55th Street,Regis Residence,"Regis Residence, 2 E 55th St #803, New York, N...",40.761255,-73.974483

In [5]:
#Checking to see if everything is loaded

# 4801 rows and 17 columns
DF.shape

(4801, 17)

## Removing Duplicates

In [6]:
#First impression of data

DF.head(10)

,BROKERTITLE,TYPE,PRICE,BEDS,BATH,PROPERTYSQFT,ADDRESS,STATE,MAIN_ADDRESS,ADMINISTRATIVE_AREA_LEVEL_2,LOCALITY,SUBLOCALITY,STREET_NAME,LONG_NAME,FORMATTED_ADDRESS,LATITUDE,LONGITUDE
0,Brokered by Douglas Elliman -111 Fifth Ave,Condo for sale,315000,2,2.000000,1400.000000,2 E 55th St Unit 803,"New York, NY 10022","2 E 55th St Unit 803New York, NY 10022",New York County,New York,Manhattan,East 55th Street,Regis Residence,"Regis Residence, 2 E 55th St #803, New York, N...",40.761255,-73.974483
1,Brokered by Serhant,Condo for sale,195000000,7,10.000000,17545.000000,Central Park Tower Penthouse-217 W 57th New Yo...,"New York, NY 10019",Central Park Tower Penthouse-217 W 57th New Yo...,United States,New York,New York County,New York,West 57th Street,"217 W 57th St, New York, NY 10019, USA",40.766393,-73.980991
2,Brokered by Sowae Corp,House for sale,260000,4,2.000000,2015.000000,620 Sinclair Ave,"Staten Island, NY 10312","620 Sinclair AveStaten Island, NY 10312",United States,New York,Richmond County,Staten Island,Sinclair Avenue,"620 Sinclair Ave, Staten Island, NY 10312, USA",40.541805,-74.196109
3,Brokered by COMPASS,Condo for sale,69000,3,1.000000,445.000000,2 E 55th St Unit 908W33,"Manhattan, NY 10022","2 E 55th St Unit 908W33Manhattan, NY 10022",United States,New York,New York County,New York,East 55th Street,"2 E 55th St, New York, NY 10022, USA",40.761398,-73.974613
4,Brokered by Sotheby's International Realty - E...,Townhouse for sale,55000000,7,2.373861,14175.000000,5 E 64th St,"New York, NY 10065","5 E 64th StNew York, NY 10065",United States,New York,New York County,New York,East 64th Street,"5 E 64th St, New York, NY 10065, USA",40.767224,-73.969856
5,Brokered by Sowae Corp,House for sale,690000,5,2.000000,4004.000000,584 Park Pl,"Brooklyn, NY 11238","584 Park PlBrooklyn, NY 11238",United States,New York,Kings County,Brooklyn,Park Place,"584 Park Pl, Brooklyn, NY 11238, USA",40.674363,-73.958725
6,Brokered by Douglas Elliman - 575 Madison Ave,Condo for sale,899500,2,2.000000,2184.207862,157 W 126th St Unit 1B,"New York, NY 10027","157 W 126th St Unit 1BNew York, NY 10027",New York,New York County,New York,Manhattan,157,"157 W 126th St #1b, New York, NY 10027, USA",40.809448,-73.946777
7,Brokered by Connie Profaci Realty,House for sale,16800000,8,16.000000,33000.000000,177 Benedict Rd,"Staten Island, NY 10304","177 Benedict RdStaten Island, NY 10304",United States,New York,Richmond County,Staten Island,Benedict Road,"177 Benedict Rd, Staten Island, NY 10304, USA",40.595002,-74.106424
8,Brokered by Pantiga Group Inc.,Co-op for sale,265000,1,1.000000,750.000000,875 Morrison Ave Apt 3M,"Bronx, NY 10473","875 Morrison Ave Apt 3MBronx, NY 10473",Bronx County,The Bronx,East Bronx,Morrison Avenue,Parking lot,"Parking lot, 875 Morrison Ave #3m, Bronx, NY 1...",40.821586,-73.874089
9,Brokered by CENTURY 21 MK Realty,Co-op for sale,440000,2,1.000000,978.000000,1350 Ocean Pkwy Apt 5G,"Brooklyn, NY 11230","1350 Ocean Pkwy Apt 5GBrooklyn, NY 11230",New York,Kings County,Brooklyn,Midwood,1350,"1350 Ocean Pkwy #5g, Brooklyn, NY 11230, USA",40.615738,-73.969694

In [7]:
#Removing Duplicates

DF1 = DF.drop_duplicates()

In [8]:
#Checking row and columns after removing duplicates

DF1.shape

(4587, 17)

In [9]:
#Previously we had (# 4801 rows and 17 columns).
#Now we have (# 4587 rows and 17 columns).

#We deleted 214 rows of duplicates

## Exploring Overall data

In [10]:
#Identifying if all cells/rows are filled out. They are all containing a value

DF1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4587 entries, 0 to 4800
Data columns (total 17 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   BROKERTITLE                  4587 non-null   object
 1   TYPE                         4587 non-null   object
 2   PRICE                        4587 non-null   int64
 3   BEDS                         4587 non-null   int64
 4   BATH                         4587 non-null   float64
 5   PROPERTYSQFT                 4587 non-null   float64
 6   ADDRESS                      4587 non-null   object
 7   STATE                        4587 non-null   object
 8   MAIN_ADDRESS                 4587 non-null   object
 9   ADMINISTRATIVE_AREA_LEVEL_2  4587 non-null   object
 10  LOCALITY                     4587 non-null   object
 11  SUBLOCALITY                  4587 non-null   object
 12  STREET_NAME                  4587 non-null   object
 13  LONG_NAME                    4587 non-null   object
 14  FORMATTED_ADDRESS            4587 non-null   object
 15  LATITUDE                     4587 non-null   float64
 16  LONGITUDE                    4587 non-null   float64
dtypes: float64(4), int64(2), object(11)
memory usage: 645.0+ KB

In [11]:
#Checking the types of data in each column

DF1.dtypes

BROKERTITLE                     object
TYPE                            object
PRICE                            int64
BEDS                             int64
BATH                           float64
PROPERTYSQFT                   float64
ADDRESS                         object
STATE                           object
MAIN_ADDRESS                    object
ADMINISTRATIVE_AREA_LEVEL_2     object
LOCALITY                        object
SUBLOCALITY                     object
STREET_NAME                     object
LONG_NAME                       object
FORMATTED_ADDRESS               object
LATITUDE                       float64
LONGITUDE                      float64
dtype: object

In [13]:
#Variations in data type detected, even among numerical values.

Price, Beds are integers
Bath, Property SQFT are float64
Latitude & Longitude are float64

This leads to the question, what is the difference?
float values  have potential decimal places
int only stores whole numbers

Property SqFt should have decimal places, although we should round to the nearest whole number.
Bath should be a whole number, will need to inspect further.

Latitude and Longitude should remain float64 with decimal places for mapping purposes

SyntaxError: invalid syntax (3188327947.py, line 3)

## Exploring Bathroom numbers

In [16]:
#Identifying the specific column name for Bath

DF1.columns

Index(['BROKERTITLE', 'TYPE', 'PRICE', 'BEDS', 'BATH', 'PROPERTYSQFT',
       'ADDRESS', 'STATE', 'MAIN_ADDRESS', 'ADMINISTRATIVE_AREA_LEVEL_2',
       'LOCALITY', 'SUBLOCALITY', 'STREET_NAME', 'LONG_NAME',
       'FORMATTED_ADDRESS', 'LATITUDE', 'LONGITUDE'],
      dtype='object')

In [17]:
#Checking BATH column values

DF1['BATH'].value_counts(dropna = False)

BATH
2.000000     1593
1.000000     1456
4.000000      464
3.000000      447
2.373861      288
6.000000      134
5.000000       95
8.000000       43
7.000000       23
10.000000      16
9.000000        7
16.000000       5
20.000000       3
12.000000       3
11.000000       2
0.000000        2
32.000000       1
13.000000       1
50.000000       1
24.000000       1
43.000000       1
17.000000       1
Name: count, dtype: int64

In [ ]:
# Why are there 288 results for 2.3738608579684373 bathrooms?

## Converting Data Types (Int64 to Strings)

In [ ]:
# Select dataframe where BATH result is 2.2.3738608579684373. 
#In order to do this we had to convert the data type from int64 to strings

In [18]:
#Changing Bath to String

DF1['BATH'] = DF1['BATH'].astype('str')

/var/folders/yj/v30db1v90zs0p0pvttp796cm0000gp/T/ipykernel_4917/3611742715.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  DF1['BATH'] = DF1['BATH'].astype('str')

In [19]:
DF1['BEDS'] = DF1['BEDS'].astype('str')

/var/folders/yj/v30db1v90zs0p0pvttp796cm0000gp/T/ipykernel_4917/2704713290.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  DF1['BEDS'] = DF1['BEDS'].astype('str')

In [20]:
DF1.dtypes

BROKERTITLE                     object
TYPE                            object
PRICE                            int64
BEDS                            object
BATH                            object
PROPERTYSQFT                   float64
ADDRESS                         object
STATE                           object
MAIN_ADDRESS                    object
ADMINISTRATIVE_AREA_LEVEL_2     object
LOCALITY                        object
SUBLOCALITY                     object
STREET_NAME                     object
LONG_NAME                       object
FORMATTED_ADDRESS               object
LATITUDE                       float64
LONGITUDE                      float64
dtype: object

In [21]:
#Create a filter for all BATH Results of 2.3738608579684373

filt = DF1['BATH'].str.contains('2.3738608579684373', na=False)

In [22]:
#Viewing the filter results from DF1, all of these are the properties with this strange bath number

DF1.loc[filt]

,BROKERTITLE,TYPE,PRICE,BEDS,BATH,PROPERTYSQFT,ADDRESS,STATE,MAIN_ADDRESS,ADMINISTRATIVE_AREA_LEVEL_2,LOCALITY,SUBLOCALITY,STREET_NAME,LONG_NAME,FORMATTED_ADDRESS,LATITUDE,LONGITUDE
4,Brokered by Sotheby's International Realty - E...,Townhouse for sale,55000000,7,2.3738608579684373,14175.000000,5 E 64th St,"New York, NY 10065","5 E 64th StNew York, NY 10065",United States,New York,New York County,New York,East 64th Street,"5 E 64th St, New York, NY 10065, USA",40.767224,-73.969856
11,Brokered by Re/Max Edge,Townhouse for sale,689000,3,2.3738608579684373,1162.000000,456 Van Name Ave,"Staten Island, NY 10303","456 Van Name AveStaten Island, NY 10303",United States,New York,Richmond County,Staten Island,Van Name Avenue,"456 Van Name Ave, Staten Island, NY 10303, USA",40.624996,-74.155306
27,Brokered by Century 21 Realty First,Multi-family home for sale,2250000,12,2.3738608579684373,5670.000000,2361 81st St,"Brooklyn, NY 11214","2361 81st StBrooklyn, NY 11214",11214,United States,New York,Kings County,81st Street,"2361 81st St, Brooklyn, NY 11214, USA",40.602654,-73.986940
68,Brokered by Ashford Homes,Multi-family home for sale,1489000,6,2.3738608579684373,3780.000000,205 Wiman Ave,"Staten Island, NY 10308","205 Wiman AveStaten Island, NY 10308",United States,New York,Richmond County,Staten Island,Wiman Avenue,"205 Wiman Ave, Staten Island, NY 10308, USA",40.539532,-74.145088
69,Brokered by Sotheby's International Realty - E...,Townhouse for sale,65000000,3,2.3738608579684373,15200.000000,4 E 79th St,"New York, NY 10075","4 E 79th StNew York, NY 10075",United States,New York,New York County,New York,East 79th Street,"4 E 79th St, New York, NY 10075, USA",40.776561,-73.963317
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4760,NoBroker,Multi-family home for sale,2000000,8,2.3738608579684373,2184.207862,2324 60th St,"Brooklyn, NY 11204","2324 60th StBrooklyn, NY 11204",United States,New York,Kings County,Brooklyn,60th Street,"2324 60th St, Brooklyn, NY 11204, USA",40.614758,-73.975714
4776,Brokered by CENTURY 21 KR REALTY,Pending,555000,3,2.3738608579684373,2184.207862,780 Stafford Ave,"Staten Island, NY 10309","780 Stafford AveStaten Island, NY 10309",United States,New York,Richmond County,Staten Island,Stafford Avenue,"780 Stafford Ave, Staten Island, NY 10309, USA",40.540344,-74.204106
4783,Brokered by Silverside Realty LLC,Multi-family home for sale,799000,6,2.3738608579684373,2000.000000,4568 Carpenter Ave,"Bronx, NY 10470","4568 Carpenter AveBronx, NY 10470",United States,New York,Bronx County,The Bronx,Carpenter Avenue,"4568 Carpenter Ave, Bronx, NY 10470, USA",40.902780,-73.854059
4788,Brokered by J Shayovitz Real Estate Corp,Co-op for sale,4750000,3,2.3738608579684373,2969.000000,1175 Park Ave Unit 1C,"New York, NY 10128","1175 Park Ave Unit 1CNew York, NY 10128",New York,New York County,New York,Manhattan,1175,"1175 Park Ave #1c, New York, NY 10128, USA",40.784392,-73.953840
4790,Brokered by Serhant,Condo for sale,789000,3,2.3738608579684373,800.000000,109 Lafayette St Rm 502,"New York, NY 10013","109 Lafayette St Rm 502New York, NY 10013",New York,New York County,New York,Manhattan,109,"109 Lafayette St RM 502, New York, NY 10013, USA",40.717926,-74.000594

In [ ]:
#Problem
Exploring what these "half" bathrooms are online. 

Per the MLS "to qualify as a full bathroom ... the bathroom must comprise of at least three 
of the following components: a bath, a shower (showerhead or shower stall), a sink, [and] a toilet."
    
#Answer: 
Basically it has to have toilet, sink, AND bath to qualify as a full bathroom. 
Otherwise you will end up with these decimal point amount of bathrooms
After searching up the properties , these properties all fall within this technicality.
Has toilet and sink but not a full bathroom.


#Decision

Change all the values that have 2.3738608579684373 to 2.5 to standardize numbers.

## Replacing Bathroom Value

In [23]:
#Showing current values before fixing

DF1['BATH'].value_counts(dropna = False)

BATH
2.0                   1593
1.0                   1456
4.0                    464
3.0                    447
2.3738608579684373     288
6.0                    134
5.0                     95
8.0                     43
7.0                     23
10.0                    16
9.0                      7
16.0                     5
20.0                     3
12.0                     3
11.0                     2
0.0                      2
32.0                     1
13.0                     1
50.0                     1
24.0                     1
43.0                     1
17.0                     1
Name: count, dtype: int64

In [24]:
#Replaced all 2.3738608579684373 to 2.5 instead

DF1['BATH'] = DF1['BATH'].str.replace('2.3738608579684373','2.5')

/var/folders/yj/v30db1v90zs0p0pvttp796cm0000gp/T/ipykernel_4917/1191576343.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  DF1['BATH'] = DF1['BATH'].str.replace('2.3738608579684373','2.5')

In [25]:
#Result New value is full 2.5 value rather than the decimal value 
#Once again 2.5 represents 2 full bathrooms, then 1 "toilet and sink without shower/bath"

DF1['BATH'].value_counts(dropna = False)

BATH
2.0     1593
1.0     1456
4.0      464
3.0      447
2.5      288
6.0      134
5.0       95
8.0       43
7.0       23
10.0      16
9.0        7
16.0       5
20.0       3
12.0       3
11.0       2
0.0        2
32.0       1
13.0       1
50.0       1
24.0       1
43.0       1
17.0       1
Name: count, dtype: int64

## Re-Formating "BROKERTITLE"

In [26]:
#BROKERTITLE right now

DF1.tail(5)

,BROKERTITLE,TYPE,PRICE,BEDS,BATH,PROPERTYSQFT,ADDRESS,STATE,MAIN_ADDRESS,ADMINISTRATIVE_AREA_LEVEL_2,LOCALITY,SUBLOCALITY,STREET_NAME,LONG_NAME,FORMATTED_ADDRESS,LATITUDE,LONGITUDE
4796,Brokered by COMPASS,Co-op for sale,599000,1,1.0,2184.207862,222 E 80th St Apt 3A,"Manhattan, NY 10075","222 E 80th St Apt 3AManhattan, NY 10075",New York,New York County,New York,Manhattan,222,"222 E 80th St #3a, New York, NY 10075, USA",40.774350,-73.955879
4797,Brokered by Mjr Real Estate Llc,Co-op for sale,245000,1,1.0,2184.207862,97-40 62 Dr Unit Lg,"Rego Park, NY 11374","97-40 62 Dr Unit LgRego Park, NY 11374",United States,New York,Queens County,Queens,62nd Drive,"97-40 62nd Dr, Rego Park, NY 11374, USA",40.732538,-73.860152
4798,Brokered by Douglas Elliman - 575 Madison Ave,Co-op for sale,1275000,1,1.0,2184.207862,427 W 21st St Unit Garden,"New York, NY 10011","427 W 21st St Unit GardenNew York, NY 10011",United States,New York,New York County,New York,West 21st Street,"427 W 21st St, New York, NY 10011, USA",40.745882,-74.003398
4799,Brokered by E Realty International Corp,Condo for sale,598125,2,1.0,655.000000,91-23 Corona Ave Unit 4G,"Elmhurst, NY 11373","91-23 Corona Ave Unit 4GElmhurst, NY 11373",New York,Queens County,Queens,Flushing,91-23,"91-23 Corona Ave. #4b, Flushing, NY 11373, USA",40.742770,-73.872752
4800,Brokered by Nyc Realty Brokers Llc,Co-op for sale,349000,1,1.0,750.000000,460 Neptune Ave Apt 14O,"Brooklyn, NY 11224","460 Neptune Ave Apt 14OBrooklyn, NY 11224",New York,Kings County,Brooklyn,Coney Island,460,"460 Neptune Ave #14a, Brooklyn, NY 11224, USA",40.579147,-73.970949

In [ ]:
#Problem is BROKERTITLE is "Brokered by COMPASS" rather than "COMPASS" 
#Resolution using

In [27]:
#This is what we want it to look like, column 1 just having the Brokerage information nothing more.

DF1['BROKERTITLE'].str.split('by',n=1, expand=True)

              0                                                  1
0     Brokered                     Douglas Elliman  -111 Fifth Ave
1     Brokered                                             Serhant
2     Brokered                                          Sowae Corp
3     Brokered                                             COMPASS
4     Brokered    Sotheby's International Realty - East Side Ma...
...         ...                                                ...
4796  Brokered                                             COMPASS
4797  Brokered                                 Mjr Real Estate Llc
4798  Brokered                   Douglas Elliman - 575 Madison Ave
4799  Brokered                         E Realty International Corp
4800  Brokered                              Nyc Realty Brokers Llc

[4587 rows x 2 columns]

In [28]:
#Saving the columns to 0 and Brokerage

DF1[['0','Brokerage']]= DF1['BROKERTITLE'].str.split('by',n=1, expand=True)
DF1

/var/folders/yj/v30db1v90zs0p0pvttp796cm0000gp/T/ipykernel_4917/2684002906.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  DF1[['0','Brokerage']]= DF1['BROKERTITLE'].str.split('by',n=1, expand=True)
/var/folders/yj/v30db1v90zs0p0pvttp796cm0000gp/T/ipykernel_4917/2684002906.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  DF1[['0','Brokerage']]= DF1['BROKERTITLE'].str.split('by',n=1, expand=True)

,BROKERTITLE,TYPE,PRICE,BEDS,BATH,PROPERTYSQFT,ADDRESS,STATE,MAIN_ADDRESS,ADMINISTRATIVE_AREA_LEVEL_2,LOCALITY,SUBLOCALITY,STREET_NAME,LONG_NAME,FORMATTED_ADDRESS,LATITUDE,LONGITUDE,0,Brokerage
0,Brokered by Douglas Elliman -111 Fifth Ave,Condo for sale,315000,2,2.0,1400.000000,2 E 55th St Unit 803,"New York, NY 10022","2 E 55th St Unit 803New York, NY 10022",New York County,New York,Manhattan,East 55th Street,Regis Residence,"Regis Residence, 2 E 55th St #803, New York, N...",40.761255,-73.974483,Brokered,Douglas Elliman -111 Fifth Ave
1,Brokered by Serhant,Condo for sale,195000000,7,10.0,17545.000000,Central Park Tower Penthouse-217 W 57th New Yo...,"New York, NY 10019",Central Park Tower Penthouse-217 W 57th New Yo...,United States,New York,New York County,New York,West 57th Street,"217 W 57th St, New York, NY 10019, USA",40.766393,-73.980991,Brokered,Serhant
2,Brokered by Sowae Corp,House for sale,260000,4,2.0,2015.000000,620 Sinclair Ave,"Staten Island, NY 10312","620 Sinclair AveStaten Island, NY 10312",United States,New York,Richmond County,Staten Island,Sinclair Avenue,"620 Sinclair Ave, Staten Island, NY 10312, USA",40.541805,-74.196109,Brokered,Sowae Corp
3,Brokered by COMPASS,Condo for sale,69000,3,1.0,445.000000,2 E 55th St Unit 908W33,"Manhattan, NY 10022","2 E 55th St Unit 908W33Manhattan, NY 10022",United States,New York,New York County,New York,East 55th Street,"2 E 55th St, New York, NY 10022, USA",40.761398,-73.974613,Brokered,COMPASS
4,Brokered by Sotheby's International Realty - E...,Townhouse for sale,55000000,7,2.5,14175.000000,5 E 64th St,"New York, NY 10065","5 E 64th StNew York, NY 10065",United States,New York,New York County,New York,East 64th Street,"5 E 64th St, New York, NY 10065, USA",40.767224,-73.969856,Brokered,Sotheby's International Realty - East Side Ma...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4796,Brokered by COMPASS,Co-op for sale,599000,1,1.0,2184.207862,222 E 80th St Apt 3A,"Manhattan, NY 10075","222 E 80th St Apt 3AManhattan, NY 10075",New York,New York County,New York,Manhattan,222,"222 E 80th St #3a, New York, NY 10075, USA",40.774350,-73.955879,Brokered,COMPASS
4797,Brokered by Mjr Real Estate Llc,Co-op for sale,245000,1,1.0,2184.207862,97-40 62 Dr Unit Lg,"Rego Park, NY 11374","97-40 62 Dr Unit LgRego Park, NY 11374",United States,New York,Queens County,Queens,62nd Drive,"97-40 62nd Dr, Rego Park, NY 11374, USA",40.732538,-73.860152,Brokered,Mjr Real Estate Llc
4798,Brokered by Douglas Elliman - 575 Madison Ave,Co-op for sale,1275000,1,1.0,2184.207862,427 W 21st St Unit Garden,"New York, NY 10011","427 W 21st St Unit GardenNew York, NY 10011",United States,New York,New York County,New York,West 21st Street,"427 W 21st St, New York, NY 10011, USA",40.745882,-74.003398,Brokered,Douglas Elliman - 575 Madison Ave
4799,Brokered by E Realty International Corp,Condo for sale,598125,2,1.0,655.000000,91-23 Corona Ave Unit 4G,"Elmhurst, NY 11373","91-23 Corona Ave Unit 4GElmhurst, NY 11373",New York,Queens County,Queens,Flushing,91-23,"91-23 Corona Ave. #4b, Flushing, NY 11373, USA",40.742770,-73.872752,Brokered,E Realty International Corp
4800,Brokered by Nyc Realty Brokers Llc,Co-op for sale,349000,1,1.0,750.000000,460 Neptune Ave Apt 14O,"Brooklyn, NY 11224","460 Neptune Ave Apt 14OBrooklyn, NY 11224",New York,Kings County,Brooklyn,Coney Island,460,"460 Neptune Ave #14a, Brooklyn, NY 11224, USA",40.579147,-73.970949,Brokered,Nyc Realty Brokers Llc

In [29]:
#View just the columns we worked on

#Before column, Column to Delete, Column to keep

DF1[['BROKERTITLE','0', 'Brokerage']].head(5)

,BROKERTITLE,0,Brokerage
0,Brokered by Douglas Elliman -111 Fifth Ave,Brokered,Douglas Elliman -111 Fifth Ave
1,Brokered by Serhant,Brokered,Serhant
2,Brokered by Sowae Corp,Brokered,Sowae Corp
3,Brokered by COMPASS,Brokered,COMPASS
4,Brokered by Sotheby's International Realty - E...,Brokered,Sotheby's International Realty - East Side Ma...

In [30]:
#Count of the brokerages now, after editing 

DF1['Brokerage'].value_counts(dropna = False)

Brokerage
 COMPASS                                      435
 Douglas Elliman - 575 Madison Ave            109
 Brown Harris Stevens                          93
 Corcoran East Side                            86
 RE MAX Edge                                   75
                                             ...
 Grandeur Realty, Inc.                          1
 Eva Real Estate LLC                            1
 Cruz Network The Bronx Realty                  1
 Howard Hanna Coach Realtors - Floral Park      1
 New York Way Real Estate Corp                  1
Name: count, Length: 1036, dtype: int64

In [32]:
#Problem - Many brokerages are also specifying the location

#EX: Douglas Elliman - 575 Madison Ave can become just Douglas Elliman

#We want just the Brokerage Name, regardless of its location.

#Split at the - to seperate the location.

DF1['Brokerage'].str.split('-',n=1, expand=True)

                                     0                               1
0                    Douglas Elliman                     111 Fifth Ave
1                              Serhant                            None
2                           Sowae Corp                            None
3                              COMPASS                            None
4      Sotheby's International Realty    East Side Manhattan Brokerage
...                                ...                             ...
4796                           COMPASS                            None
4797               Mjr Real Estate Llc                            None
4798                  Douglas Elliman                  575 Madison Ave
4799       E Realty International Corp                            None
4800            Nyc Realty Brokers Llc                            None

[4587 rows x 2 columns]

In [33]:
#Creating the 2 columns like we have above.
# Column 1 being what we keep
# Brokerage 2 being what we delete

DF1[['1','Brokerage2']]= DF1['Brokerage'].str.split('-',n=1, expand=True)
DF1

/var/folders/yj/v30db1v90zs0p0pvttp796cm0000gp/T/ipykernel_4917/2424380679.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  DF1[['1','Brokerage2']]= DF1['Brokerage'].str.split('-',n=1, expand=True)
/var/folders/yj/v30db1v90zs0p0pvttp796cm0000gp/T/ipykernel_4917/2424380679.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  DF1[['1','Brokerage2']]= DF1['Brokerage'].str.split('-',n=1, expand=True)

,BROKERTITLE,TYPE,PRICE,BEDS,BATH,PROPERTYSQFT,ADDRESS,STATE,MAIN_ADDRESS,ADMINISTRATIVE_AREA_LEVEL_2,...,SUBLOCALITY,STREET_NAME,LONG_NAME,FORMATTED_ADDRESS,LATITUDE,LONGITUDE,0,Brokerage,1,Brokerage2
0,Brokered by Douglas Elliman -111 Fifth Ave,Condo for sale,315000,2,2.0,1400.000000,2 E 55th St Unit 803,"New York, NY 10022","2 E 55th St Unit 803New York, NY 10022",New York County,...,Manhattan,East 55th Street,Regis Residence,"Regis Residence, 2 E 55th St #803, New York, N...",40.761255,-73.974483,Brokered,Douglas Elliman -111 Fifth Ave,Douglas Elliman,111 Fifth Ave
1,Brokered by Serhant,Condo for sale,195000000,7,10.0,17545.000000,Central Park Tower Penthouse-217 W 57th New Yo...,"New York, NY 10019",Central Park Tower Penthouse-217 W 57th New Yo...,United States,...,New York County,New York,West 57th Street,"217 W 57th St, New York, NY 10019, USA",40.766393,-73.980991,Brokered,Serhant,Serhant,None
2,Brokered by Sowae Corp,House for sale,260000,4,2.0,2015.000000,620 Sinclair Ave,"Staten Island, NY 10312","620 Sinclair AveStaten Island, NY 10312",United States,...,Richmond County,Staten Island,Sinclair Avenue,"620 Sinclair Ave, Staten Island, NY 10312, USA",40.541805,-74.196109,Brokered,Sowae Corp,Sowae Corp,None
3,Brokered by COMPASS,Condo for sale,69000,3,1.0,445.000000,2 E 55th St Unit 908W33,"Manhattan, NY 10022","2 E 55th St Unit 908W33Manhattan, NY 10022",United States,...,New York County,New York,East 55th Street,"2 E 55th St, New York, NY 10022, USA",40.761398,-73.974613,Brokered,COMPASS,COMPASS,None
4,Brokered by Sotheby's International Realty - E...,Townhouse for sale,55000000,7,2.5,14175.000000,5 E 64th St,"New York, NY 10065","5 E 64th StNew York, NY 10065",United States,...,New York County,New York,East 64th Street,"5 E 64th St, New York, NY 10065, USA",40.767224,-73.969856,Brokered,Sotheby's International Realty - East Side Ma...,Sotheby's International Realty,East Side Manhattan Brokerage
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4796,Brokered by COMPASS,Co-op for sale,599000,1,1.0,2184.207862,222 E 80th St Apt 3A,"Manhattan, NY 10075","222 E 80th St Apt 3AManhattan, NY 10075",New York,...,New York,Manhattan,222,"222 E 80th St #3a, New York, NY 10075, USA",40.774350,-73.955879,Brokered,COMPASS,COMPASS,None
4797,Brokered by Mjr Real Estate Llc,Co-op for sale,245000,1,1.0,2184.207862,97-40 62 Dr Unit Lg,"Rego Park, NY 11374","97-40 62 Dr Unit LgRego Park, NY 11374",United States,...,Queens County,Queens,62nd Drive,"97-40 62nd Dr, Rego Park, NY 11374, USA",40.732538,-73.860152,Brokered,Mjr Real Estate Llc,Mjr Real Estate Llc,None
4798,Brokered by Douglas Elliman - 575 Madison Ave,Co-op for sale,1275000,1,1.0,2184.207862,427 W 21st St Unit Garden,"New York, NY 10011","427 W 21st St Unit GardenNew York, NY 10011",United States,...,New York County,New York,West 21st Street,"427 W 21st St, New York, NY 10011, USA",40.745882,-74.003398,Brokered,Douglas Elliman - 575 Madison Ave,Douglas Elliman,575 Madison Ave
4799,Brokered by E Realty International Corp,Condo for sale,598125,2,1.0,655.000000,91-23 Corona Ave Unit 4G,"Elmhurst, NY 11373","91-23 Corona Ave Unit 4GElmhurst, NY 11373",New York,...,Queens,Flushing,91-23,"91-23 Corona Ave. #4b, Flushing, NY 11373, USA",40.742770,-73.872752,Brokered,E Realty International Corp,E Realty International Corp,None
4800,Brokered by Nyc Realty Brokers Llc,Co-op for sale,349000,1,1.0,750.000000,460 Neptune Ave Apt 14O,"Brooklyn, NY 11224","460 Neptune Ave Apt 14OBrooklyn, NY 11224",New York,...,Brooklyn,Coney Island,460,"460 Neptune Ave #14a, Brooklyn, NY 11224, USA",40.579147,-73.970949,Brokered,Nyc Realty Brokers Llc,Nyc Realty Brokers Llc,None

In [34]:
#View all the columns we worked on

# Brokerage full information, Brokered , Brokerage with address, just the brokerage (one we want), addresss

#Keeping just '1'

DF1[['BROKERTITLE','0', 'Brokerage','1','Brokerage2']].head(5)

,BROKERTITLE,0,Brokerage,1,Brokerage2
0,Brokered by Douglas Elliman -111 Fifth Ave,Brokered,Douglas Elliman -111 Fifth Ave,Douglas Elliman,111 Fifth Ave
1,Brokered by Serhant,Brokered,Serhant,Serhant,None
2,Brokered by Sowae Corp,Brokered,Sowae Corp,Sowae Corp,None
3,Brokered by COMPASS,Brokered,COMPASS,COMPASS,None
4,Brokered by Sotheby's International Realty - E...,Brokered,Sotheby's International Realty - East Side Ma...,Sotheby's International Realty,East Side Manhattan Brokerage

In [35]:
#Column 1 is the only one to keep.

#Before we delete everything else, lets look at the counts of Column 1 to make sure it looks correct.

#'1' contains the brokerage information with nothing else. Spelling is repeated, hence th enumber counts

In [36]:
#Brokerage values look correct. We can delete the other columns created.

DF1['1'].value_counts(dropna = False)

1
 COMPASS                            435
 Douglas Elliman                    255
 Brown Harris Stevens               101
 Sotheby's International Realty      99
 Corcoran East Side                  86
                                   ...
 All Star Real Estate                 1
 Real Estate Trade Co Inc             1
 Neman Yoska                          1
 Elite Realty of USA Inc              1
 New York Way Real Estate Corp        1
Name: count, Length: 994, dtype: int64

In [37]:
#Drop excess column

DF1 = DF1.drop(columns = ['BROKERTITLE'])

In [38]:
#Drop excess column

DF1 = DF1.drop(columns = ['Brokerage'])

In [39]:
#Drop excess column

DF1 = DF1.drop(columns = ['Brokerage2'])

In [40]:
#Successfully deleted columns of 'BROKERTITLE','0', 'Brokerage','Brokerage2'
DF1.columns

Index(['TYPE', 'PRICE', 'BEDS', 'BATH', 'PROPERTYSQFT', 'ADDRESS', 'STATE',
       'MAIN_ADDRESS', 'ADMINISTRATIVE_AREA_LEVEL_2', 'LOCALITY',
       'SUBLOCALITY', 'STREET_NAME', 'LONG_NAME', 'FORMATTED_ADDRESS',
       'LATITUDE', 'LONGITUDE', '0', '1'],
      dtype='object')

In [41]:
#Rename column '1'

DF1.rename(columns = {'1' : 'Brokerages'}, inplace = True)

In [42]:
#Checking what columns look like now.

DF1.columns

Index(['TYPE', 'PRICE', 'BEDS', 'BATH', 'PROPERTYSQFT', 'ADDRESS', 'STATE',
       'MAIN_ADDRESS', 'ADMINISTRATIVE_AREA_LEVEL_2', 'LOCALITY',
       'SUBLOCALITY', 'STREET_NAME', 'LONG_NAME', 'FORMATTED_ADDRESS',
       'LATITUDE', 'LONGITUDE', '0', 'Brokerages'],
      dtype='object')

In [43]:
DF1.head(1)

,TYPE,PRICE,BEDS,BATH,PROPERTYSQFT,ADDRESS,STATE,MAIN_ADDRESS,ADMINISTRATIVE_AREA_LEVEL_2,LOCALITY,SUBLOCALITY,STREET_NAME,LONG_NAME,FORMATTED_ADDRESS,LATITUDE,LONGITUDE,0,Brokerages
0,Condo for sale,315000,2,2.0,1400.0,2 E 55th St Unit 803,"New York, NY 10022","2 E 55th St Unit 803New York, NY 10022",New York County,New York,Manhattan,East 55th Street,Regis Residence,"Regis Residence, 2 E 55th St #803, New York, N...",40.761255,-73.974483,Brokered,Douglas Elliman

## Further Cleaning for Specific Brokerages

In [44]:
DF1['Brokerages'].value_counts(dropna = False)

Brokerages
 COMPASS                            435
 Douglas Elliman                    255
 Brown Harris Stevens               101
 Sotheby's International Realty      99
 Corcoran East Side                  86
                                   ...
 All Star Real Estate                 1
 Real Estate Trade Co Inc             1
 Neman Yoska                          1
 Elite Realty of USA Inc              1
 New York Way Real Estate Corp        1
Name: count, Length: 994, dtype: int64

In [45]:
# Problem, certain Brokerages still contain excess information seperating them
#"Keller Williams NYC ","Keller Williams Rlty Landmark" , " KELLER WILLIAMS REALTY LANDMARK II ", 
#" Keller Williams Realty Greater Nassau  " , " Keller Williams Realty NYC Grp ", " Keller Williams Legendary "
#KELLER WILLIAMS REALTY EMPIRE , # Keller Williams Realty Elite , "Keller Williams Realty Staten Island ",
#Keller Williams Ny Realty 

#all can be under Keller Williams

In [46]:
DF1['Brokerages'] = DF1['Brokerages'].str.replace('Keller Williams NYC','Keller Williams')

In [47]:
DF1['Brokerages'] = DF1['Brokerages'].str.replace('Keller Williams Rlty Landmark','Keller Williams')

In [48]:
DF1['Brokerages'] = DF1['Brokerages'].str.replace('KELLER WILLIAMS REALTY LANDMARK II','Keller Williams')

In [49]:
DF1['Brokerages'] = DF1['Brokerages'].str.replace('Keller Williams Realty Greater Nassau','Keller Williams')

In [50]:
DF1['Brokerages'] = DF1['Brokerages'].str.replace('Keller Williams Realty NYC Grp','Keller Williams')

In [51]:
DF1['Brokerages'] = DF1['Brokerages'].str.replace('Keller Williams Legendary','Keller Williams')

In [52]:
DF1['Brokerages'] = DF1['Brokerages'].str.replace('KELLER WILLIAMS REALTY EMPIRE','Keller Williams')

In [53]:
DF1['Brokerages'] = DF1['Brokerages'].str.replace('Keller Williams Realty Elite','Keller Williams')

In [54]:
DF1['Brokerages'] = DF1['Brokerages'].str.replace('Keller Williams Realty Staten Island','Keller Williams')

In [55]:
DF1['Brokerages'] = DF1['Brokerages'].str.replace('Keller Williams Ny Realty','Keller Williams')

In [56]:
DF1['Brokerages'] = DF1['Brokerages'].str.replace('Keller Williams Ny Realty','Keller Williams')

In [57]:
#Result Keller Williams is standardized and a top contributor

DF1['Brokerages'].value_counts(dropna = False)

Brokerages
 COMPASS                            435
 Douglas Elliman                    255
 Keller Williams                    175
 Brown Harris Stevens               101
 Sotheby's International Realty      99
                                   ...
 River Realty Services, Inc.          1
 Century 21 Papp Realty               1
 S Sharf Realty Inc                   1
 AAA Young Shuen Realty Inc           1
 New York Way Real Estate Corp        1
Name: count, Length: 985, dtype: int64

In [58]:
#Repeating process with Corcoran

#"Corcoran East Side", "Corcoran Chelsea/Flatiron", "Corcoran Park Slope ", " Corcoran Brooklyn Heights "
#"Corcoran West Side", "Corcoran Park Avenue South", "Corcoran SoHo", "Corcoran Westside Columbus",
#"Corcoran Williamsburg Bedford ", "Corcoran Long Island City",

In [59]:
DF1['Brokerages'] = DF1['Brokerages'].str.replace('Corcoran East Side','Corcoran')

In [60]:
DF1['Brokerages'] = DF1['Brokerages'].str.replace('Corcoran Chelsea/Flatiron','Corcoran')

In [61]:
DF1['Brokerages'] = DF1['Brokerages'].str.replace('Corcoran Park Slope','Corcoran')

In [62]:
DF1['Brokerages'] = DF1['Brokerages'].str.replace('Corcoran Brooklyn Heights','Corcoran')

In [63]:
DF1['Brokerages'] = DF1['Brokerages'].str.replace('Corcoran West Side','Corcoran')

In [64]:
DF1['Brokerages'] = DF1['Brokerages'].str.replace('Corcoran Park Avenue South','Corcoran')

In [65]:
DF1['Brokerages'] = DF1['Brokerages'].str.replace('Corcoran SoHo','Corcoran')

In [66]:
DF1['Brokerages'] = DF1['Brokerages'].str.replace('Corcoran Westside Columbus','Corcoran')

In [67]:
DF1['Brokerages'] = DF1['Brokerages'].str.replace('Corcoran Williamsburg Bedford','Corcoran')

In [68]:
DF1['Brokerages'] = DF1['Brokerages'].str.replace('Corcoran Long Island City','Corcoran')

In [69]:
DF1['Brokerages'] = DF1['Brokerages'].str.replace('Corcoran Gallery','Corcoran')

In [70]:
DF1['Brokerages'] = DF1['Brokerages'].str.replace('Corcoran Bedford Stuyvesant','Corcoran')

In [71]:
#Result Corcoran is standardized

DF1['Brokerages'].value_counts(dropna = False)

Brokerages
 COMPASS                          435
 Corcoran                         350
 Douglas Elliman                  255
 Keller Williams                  175
 Brown Harris Stevens             101
                                 ...
 Real Estate Trade Co Inc           1
 Neman Yoska                        1
 Elite Realty of USA Inc            1
 Arc Realty Llc                     1
 New York Way Real Estate Corp      1
Name: count, Length: 973, dtype: int64

In [72]:
#Repeating process with RE Max

# RE MAX Edge, RE MAX Real Estate Professionals,  RE/MAX Team, Re/Max In The City, RE/MAX Elite ,
#RE/MAX City Square

In [73]:
DF1['Brokerages'] = DF1['Brokerages'].str.replace('RE MAX Edge','RE MAX')

In [74]:
DF1['Brokerages'] = DF1['Brokerages'].str.replace('RE MAX Real Estate Professionals','RE MAX')

In [75]:
DF1['Brokerages'] = DF1['Brokerages'].str.replace('RE/MAX Team','RE MAX')

In [76]:
DF1['Brokerages'] = DF1['Brokerages'].str.replace('Re/Max In The City','RE MAX')

In [77]:
DF1['Brokerages'] = DF1['Brokerages'].str.replace('RE/MAX Elite','RE MAX')

In [78]:
DF1['Brokerages'] = DF1['Brokerages'].str.replace('RE/MAX City Square','RE MAX')

In [79]:
DF1['Brokerages'] = DF1['Brokerages'].str.replace('Re/Max Edge','RE MAX')

In [80]:
DF1['Brokerages'] = DF1['Brokerages'].str.replace('Remax Edge','RE MAX')

In [81]:
DF1['Brokerages'] = DF1['Brokerages'].str.replace('RE MAX 1st Choice','RE MAX')

In [82]:
DF1['Brokerages'] = DF1['Brokerages'].str.replace('RE/MAX Team','RE MAX')

In [83]:
#Result RE MAX is standardized

DF1['Brokerages'].value_counts(dropna = False)

Brokerages
 COMPASS                          435
 Corcoran                         350
 Douglas Elliman                  255
 RE MAX                           191
 Keller Williams                  175
                                 ...
 River Realty Services, Inc.        1
 Century 21 Papp Realty             1
 S Sharf Realty Inc                 1
 AAA Young Shuen Realty Inc         1
 New York Way Real Estate Corp      1
Name: count, Length: 966, dtype: int64

In [84]:
#Repeating process with Coldwell Banker

#Coldwell Banker American Homes, Coldwell Banker Advantage, Coldwell Banker Reliable Real Estate,
#Coldwell Banker Warburg, Coldwell Banker Reliable

In [85]:
DF1['Brokerages'] = DF1['Brokerages'].str.replace('Coldwell Banker American Homes','Coldwell Banker')

In [86]:
DF1['Brokerages'] = DF1['Brokerages'].str.replace('Coldwell Banker Advantage','Coldwell Banker')

In [87]:
DF1['Brokerages'] = DF1['Brokerages'].str.replace('Coldwell Banker Reliable Real Estate','Coldwell Banker')

In [88]:
DF1['Brokerages'] = DF1['Brokerages'].str.replace('Coldwell Banker Warburg','Coldwell Banker')

In [89]:
DF1['Brokerages'] = DF1['Brokerages'].str.replace('Coldwell Banker Reliable','Coldwell Banker')

In [90]:
#Result Coldwell Banker is standardized

DF1['Brokerages'].value_counts(dropna = False)

Brokerages
 COMPASS                          435
 Corcoran                         350
 Douglas Elliman                  255
 RE MAX                           191
 Keller Williams                  175
                                 ...
 River Realty Services, Inc.        1
 Century 21 Papp Realty             1
 S Sharf Realty Inc                 1
 AAA Young Shuen Realty Inc         1
 New York Way Real Estate Corp      1
Name: count, Length: 962, dtype: int64

In [91]:
#Repeating process with various smaller brokerages

#Coldwell Banker American Homes, Coldwell Banker Advantage, Coldwell Banker Reliable Real Estate,
#Coldwell Banker Warburg, Coldwell Banker Reliable

In [92]:
DF1['Brokerages'] = DF1['Brokerages'].str.replace('EXP Realty','Exp Realty')

In [93]:
DF1['Brokerages'] = DF1['Brokerages'].str.replace('eXp Realty BKNY','Exp Realty')

In [94]:
DF1['Brokerages'] = DF1['Brokerages'].str.replace('Robert DeFalco Realty, Inc.','Robert Defalco Realty, Inc.')

In [95]:
DF1['Brokerages'] = DF1['Brokerages'].str.replace('Nest Seekers International, Midtown','Nest Seekers International')

In [96]:
DF1['Brokerages'] = DF1['Brokerages'].str.replace('eXp Realty BKNY','eXp Realty')

In [97]:
DF1['Brokerages'] = DF1['Brokerages'].str.replace('Compass Greater Ny, Llc','COMPASS')

In [98]:
DF1['Brokerages'] = DF1['Brokerages'].str.replace('CENTURY 21 Milestone Realty','CENTURY 21')

In [99]:
DF1['Brokerages'] = DF1['Brokerages'].str.replace('Keller Williams Realty Liberty','Keller Williams')

In [100]:
DF1['Brokerages'] = DF1['Brokerages'].str.replace('CENTURY 21 MK Realty','CENTURY 21')

In [101]:
DF1['Brokerages'] = DF1['Brokerages'].str.replace('CENTURY 21 Homefront','CENTURY 21')

In [102]:
DF1['Brokerages'] = DF1['Brokerages'].str.replace('Compass Greater New York, LLC','COMPASS')

In [103]:
DF1['Brokerages'] = DF1['Brokerages'].str.replace('RE MAX Elite','RE MAX')

In [104]:
DF1['Brokerages'] = DF1['Brokerages'].str.replace('RE MAX Central','RE MAX')

In [105]:
DF1['Brokerages'] = DF1['Brokerages'].str.replace('RE MAX Boutique Realty','RE MAX')

In [106]:
DF1['Brokerages'] = DF1['Brokerages'].str.replace('RE MAX City Square','RE MAX')

In [107]:
DF1['Brokerages'] = DF1['Brokerages'].str.replace('CENTURY 21 Achievers','CENTURY 21')

In [108]:
 DF1['Brokerages'] = DF1['Brokerages'].str.replace('Century 21 Amiable Realty Group II, Inc.','CENTURY 21')

In [109]:
DF1['Brokerages'] = DF1['Brokerages'].str.replace('Century 21 Realty First','CENTURY 21')

In [110]:
DF1['Brokerages'].value_counts(dropna = False)

Brokerages
 COMPASS                          446
 Corcoran                         350
 Douglas Elliman                  255
 RE MAX                           228
 Keller Williams                  189
                                 ...
 River Realty Services, Inc.        1
 Century 21 Papp Realty             1
 S Sharf Realty Inc                 1
 AAA Young Shuen Realty Inc         1
 New York Way Real Estate Corp      1
Name: count, Length: 947, dtype: int64

## Re-Formating "TYPE"

In [111]:
DF1.head(1)

,TYPE,PRICE,BEDS,BATH,PROPERTYSQFT,ADDRESS,STATE,MAIN_ADDRESS,ADMINISTRATIVE_AREA_LEVEL_2,LOCALITY,SUBLOCALITY,STREET_NAME,LONG_NAME,FORMATTED_ADDRESS,LATITUDE,LONGITUDE,0,Brokerages
0,Condo for sale,315000,2,2.0,1400.0,2 E 55th St Unit 803,"New York, NY 10022","2 E 55th St Unit 803New York, NY 10022",New York County,New York,Manhattan,East 55th Street,Regis Residence,"Regis Residence, 2 E 55th St #803, New York, N...",40.761255,-73.974483,Brokered,Douglas Elliman

In [112]:
DF1['TYPE'].value_counts(dropna = False)

TYPE
Co-op for sale                1388
House for sale                 966
Condo for sale                 842
Multi-family home for sale     699
Townhouse for sale             288
Pending                        229
Contingent                      87
Land for sale                   47
For sale                        20
Foreclosure                     14
Condop for sale                  4
Coming Soon                      2
Mobile house for sale            1
Name: count, dtype: int64

In [113]:
#TYPE is currently "Condo for sale". Instead we want just "Condo" for the Type

In [114]:
DF1['TYPE'].str.split('for',n=1, expand=True)

               0      1
0         Condo    sale
1         Condo    sale
2         House    sale
3         Condo    sale
4     Townhouse    sale
...          ...    ...
4796      Co-op    sale
4797      Co-op    sale
4798      Co-op    sale
4799      Condo    sale
4800      Co-op    sale

[4587 rows x 2 columns]

In [115]:
#Saving the 2 seperate columns we made above

DF1[['Property Type','Delete']]= DF1['TYPE'].str.split('for',n=1, expand=True)
DF1

,TYPE,PRICE,BEDS,BATH,PROPERTYSQFT,ADDRESS,STATE,MAIN_ADDRESS,ADMINISTRATIVE_AREA_LEVEL_2,LOCALITY,SUBLOCALITY,STREET_NAME,LONG_NAME,FORMATTED_ADDRESS,LATITUDE,LONGITUDE,0,Brokerages,Property Type,Delete
0,Condo for sale,315000,2,2.0,1400.000000,2 E 55th St Unit 803,"New York, NY 10022","2 E 55th St Unit 803New York, NY 10022",New York County,New York,Manhattan,East 55th Street,Regis Residence,"Regis Residence, 2 E 55th St #803, New York, N...",40.761255,-73.974483,Brokered,Douglas Elliman,Condo,sale
1,Condo for sale,195000000,7,10.0,17545.000000,Central Park Tower Penthouse-217 W 57th New Yo...,"New York, NY 10019",Central Park Tower Penthouse-217 W 57th New Yo...,United States,New York,New York County,New York,West 57th Street,"217 W 57th St, New York, NY 10019, USA",40.766393,-73.980991,Brokered,Serhant,Condo,sale
2,House for sale,260000,4,2.0,2015.000000,620 Sinclair Ave,"Staten Island, NY 10312","620 Sinclair AveStaten Island, NY 10312",United States,New York,Richmond County,Staten Island,Sinclair Avenue,"620 Sinclair Ave, Staten Island, NY 10312, USA",40.541805,-74.196109,Brokered,Sowae Corp,House,sale
3,Condo for sale,69000,3,1.0,445.000000,2 E 55th St Unit 908W33,"Manhattan, NY 10022","2 E 55th St Unit 908W33Manhattan, NY 10022",United States,New York,New York County,New York,East 55th Street,"2 E 55th St, New York, NY 10022, USA",40.761398,-73.974613,Brokered,COMPASS,Condo,sale
4,Townhouse for sale,55000000,7,2.5,14175.000000,5 E 64th St,"New York, NY 10065","5 E 64th StNew York, NY 10065",United States,New York,New York County,New York,East 64th Street,"5 E 64th St, New York, NY 10065, USA",40.767224,-73.969856,Brokered,Sotheby's International Realty,Townhouse,sale
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4796,Co-op for sale,599000,1,1.0,2184.207862,222 E 80th St Apt 3A,"Manhattan, NY 10075","222 E 80th St Apt 3AManhattan, NY 10075",New York,New York County,New York,Manhattan,222,"222 E 80th St #3a, New York, NY 10075, USA",40.774350,-73.955879,Brokered,COMPASS,Co-op,sale
4797,Co-op for sale,245000,1,1.0,2184.207862,97-40 62 Dr Unit Lg,"Rego Park, NY 11374","97-40 62 Dr Unit LgRego Park, NY 11374",United States,New York,Queens County,Queens,62nd Drive,"97-40 62nd Dr, Rego Park, NY 11374, USA",40.732538,-73.860152,Brokered,Mjr Real Estate Llc,Co-op,sale
4798,Co-op for sale,1275000,1,1.0,2184.207862,427 W 21st St Unit Garden,"New York, NY 10011","427 W 21st St Unit GardenNew York, NY 10011",United States,New York,New York County,New York,West 21st Street,"427 W 21st St, New York, NY 10011, USA",40.745882,-74.003398,Brokered,Douglas Elliman,Co-op,sale
4799,Condo for sale,598125,2,1.0,655.000000,91-23 Corona Ave Unit 4G,"Elmhurst, NY 11373","91-23 Corona Ave Unit 4GElmhurst, NY 11373",New York,Queens County,Queens,Flushing,91-23,"91-23 Corona Ave. #4b, Flushing, NY 11373, USA",40.742770,-73.872752,Brokered,E Realty International Corp,Condo,sale
4800,Co-op for sale,349000,1,1.0,750.000000,460 Neptune Ave Apt 14O,"Brooklyn, NY 11224","460 Neptune Ave Apt 14OBrooklyn, NY 11224",New York,Kings County,Brooklyn,Coney Island,460,"460 Neptune Ave #14a, Brooklyn, NY 11224, USA",40.579147,-73.970949,Brokered,Nyc Realty Brokers Llc,Co-op,sale

In [116]:
#Shown below is the columns we worked on
#only keep Property Type, remove the other 2 columns

DF1[['TYPE','Property Type', 'Delete']].head(5)

                 TYPE Property Type Delete
0      Condo for sale        Condo    sale
1      Condo for sale        Condo    sale
2      House for sale        House    sale
3      Condo for sale        Condo    sale
4  Townhouse for sale    Townhouse    sale

In [117]:
#Drop Excess Column

DF1 = DF1.drop(columns=['TYPE'])

In [118]:
#Drop Excess Column 

DF1 = DF1.drop(columns=['Delete'])

In [119]:
#Only Property Type remains

DF1.columns

Index(['PRICE', 'BEDS', 'BATH', 'PROPERTYSQFT', 'ADDRESS', 'STATE',
       'MAIN_ADDRESS', 'ADMINISTRATIVE_AREA_LEVEL_2', 'LOCALITY',
       'SUBLOCALITY', 'STREET_NAME', 'LONG_NAME', 'FORMATTED_ADDRESS',
       'LATITUDE', 'LONGITUDE', '0', 'Brokerages', 'Property Type'],
      dtype='object')

In [120]:
#Property Types Check

DF1['Property Type'].value_counts(dropna = False)

Property Type
Co-op                 1388
House                  966
Condo                  842
Multi-family home      699
Townhouse              288
Pending                229
Contingent              87
Land                    47
For sale                20
Foreclosure             14
Condop                   4
Coming Soon              2
Mobile house             1
Name: count, dtype: int64

In [121]:
DF1.head(5)

,PRICE,BEDS,BATH,PROPERTYSQFT,ADDRESS,STATE,MAIN_ADDRESS,ADMINISTRATIVE_AREA_LEVEL_2,LOCALITY,SUBLOCALITY,STREET_NAME,LONG_NAME,FORMATTED_ADDRESS,LATITUDE,LONGITUDE,0,Brokerages,Property Type
0,315000,2,2.0,1400.0,2 E 55th St Unit 803,"New York, NY 10022","2 E 55th St Unit 803New York, NY 10022",New York County,New York,Manhattan,East 55th Street,Regis Residence,"Regis Residence, 2 E 55th St #803, New York, N...",40.761255,-73.974483,Brokered,Douglas Elliman,Condo
1,195000000,7,10.0,17545.0,Central Park Tower Penthouse-217 W 57th New Yo...,"New York, NY 10019",Central Park Tower Penthouse-217 W 57th New Yo...,United States,New York,New York County,New York,West 57th Street,"217 W 57th St, New York, NY 10019, USA",40.766393,-73.980991,Brokered,Serhant,Condo
2,260000,4,2.0,2015.0,620 Sinclair Ave,"Staten Island, NY 10312","620 Sinclair AveStaten Island, NY 10312",United States,New York,Richmond County,Staten Island,Sinclair Avenue,"620 Sinclair Ave, Staten Island, NY 10312, USA",40.541805,-74.196109,Brokered,Sowae Corp,House
3,69000,3,1.0,445.0,2 E 55th St Unit 908W33,"Manhattan, NY 10022","2 E 55th St Unit 908W33Manhattan, NY 10022",United States,New York,New York County,New York,East 55th Street,"2 E 55th St, New York, NY 10022, USA",40.761398,-73.974613,Brokered,COMPASS,Condo
4,55000000,7,2.5,14175.0,5 E 64th St,"New York, NY 10065","5 E 64th StNew York, NY 10065",United States,New York,New York County,New York,East 64th Street,"5 E 64th St, New York, NY 10065, USA",40.767224,-73.969856,Brokered,Sotheby's International Realty,Townhouse

In [122]:
DF1 = DF1.drop(columns=['0'])

## Removing Unnecessary Columns

In [123]:
# Some columns are excessive as the information is repeated
# Let identify what these columns are

In [124]:
DF1['ADMINISTRATIVE_AREA_LEVEL_2'].value_counts(dropna = False)

ADMINISTRATIVE_AREA_LEVEL_2
United States      2374
New York           2138
New York County      21
11214                 8
Queens County         6
Kings County          6
Bronx County          4
11229                 3
10017                 2
10310                 2
10003                 2
10002                 2
10306                 2
10471                 2
11237                 1
10466                 1
Brooklyn              1
10465                 1
11412                 1
10312                 1
10309                 1
10303                 1
10463                 1
10301                 1
10304                 1
11417                 1
11414                 1
11234                 1
11218                 1
Name: count, dtype: int64

In [125]:
DF1['LOCALITY'].value_counts(dropna = False)

LOCALITY
New York           2395
New York County     930
Queens County       536
Kings County        442
Bronx County        172
Richmond County      58
United States        37
Brooklyn              6
Queens                6
The Bronx             4
Flatbush              1
Name: count, dtype: int64

In [126]:
DF1['SUBLOCALITY'].value_counts(dropna = False)

SUBLOCALITY
New York            967
Kings County        696
Queens County       655
Queens              534
Richmond County     461
Brooklyn            442
Bronx County        291
New York County     271
The Bronx           174
Staten Island        58
Manhattan            21
Flushing              4
Coney Island          3
Riverdale             3
East Bronx            1
Brooklyn Heights      1
Jackson Heights       1
Rego Park             1
Fort Hamilton         1
Dumbo                 1
Snyder Avenue         1
Name: count, dtype: int64

In [127]:
DF['LONG_NAME'].tail(10)

4791                 342
4792         40th Street
4793                 700
4794                2351
4795    West 15th Street
4796                 222
4797          62nd Drive
4798    West 21st Street
4799               91-23
4800                 460
Name: LONG_NAME, dtype: object

In [128]:
DF['FORMATTED_ADDRESS'].head(10)

0    Regis Residence, 2 E 55th St #803, New York, N...
1               217 W 57th St, New York, NY 10019, USA
2       620 Sinclair Ave, Staten Island, NY 10312, USA
3                 2 E 55th St, New York, NY 10022, USA
4                 5 E 64th St, New York, NY 10065, USA
5                 584 Park Pl, Brooklyn, NY 11238, USA
6          157 W 126th St #1b, New York, NY 10027, USA
7        177 Benedict Rd, Staten Island, NY 10304, USA
8    Parking lot, 875 Morrison Ave #3m, Bronx, NY 1...
9         1350 Ocean Pkwy #5g, Brooklyn, NY 11230, USA
Name: FORMATTED_ADDRESS, dtype: object

In [129]:
# "ADDRESS" is not needed we have MAIN_ADDRESS
#"ADMINISTRATIVE_AREA_LEVEL_2" is not needed as this is all US / NY focused, we don't need this information
#"SUBLOCALITY" is also excessive, keeping STATE which has (borough) is all that is needed
#LOCALITY is also excessive, state has this info. we can seperate later
#"LONG_NAME" is also excessive, no additional information seperate from Main Address
#"FORMATTED_ADDRESS" is also repeated information , this is in MAIN_ADDRESS
#STREET_NAME is also repeated, this is in MAIN_ADDRESS

#All other columns may have their use, so keeping all others

#Delete ADDRESS, ADMINISTRATIVE_AREA_LEVEL_2, SUBLOCALITY, LONG_NAME, FORMATTED_ADDRESS

In [130]:
DF1 = DF1.drop(columns=['ADDRESS'])

In [131]:
DF1 = DF1.drop(columns=['ADMINISTRATIVE_AREA_LEVEL_2'])

In [132]:
DF1 = DF1.drop(columns=['SUBLOCALITY'])

In [133]:
DF1 = DF1.drop(columns=['LONG_NAME'])

In [134]:
DF1 = DF1.drop(columns=['FORMATTED_ADDRESS'])

In [135]:
DF1 = DF1.drop(columns=['STREET_NAME'])

In [136]:
DF1 = DF1.drop(columns=['LOCALITY'])

In [138]:
DF1.columns

Index(['PRICE', 'BEDS', 'BATH', 'PROPERTYSQFT', 'STATE', 'MAIN_ADDRESS',
       'LATITUDE', 'LONGITUDE', 'Brokerages', 'Property Type'],
      dtype='object')

In [139]:
DF1.head(1)

,PRICE,BEDS,BATH,PROPERTYSQFT,STATE,MAIN_ADDRESS,LATITUDE,LONGITUDE,Brokerages,Property Type
0,315000,2,2.0,1400.0,"New York, NY 10022","2 E 55th St Unit 803New York, NY 10022",40.761255,-73.974483,Douglas Elliman,Condo

In [ ]:
# Cleared out all unncessary columns

## Reorder Columns

In [140]:
#Reordering based on order of importance for user

DF1 = DF1.reindex(columns=['MAIN_ADDRESS','Property Type','PRICE','BEDS','BATH','PROPERTYSQFT','STATE','Brokerages','LATITUDE','LATITUDE'])
DF1

,MAIN_ADDRESS,Property Type,PRICE,BEDS,BATH,PROPERTYSQFT,STATE,Brokerages,LATITUDE,LATITUDE
0,"2 E 55th St Unit 803New York, NY 10022",Condo,315000,2,2.0,1400.000000,"New York, NY 10022",Douglas Elliman,40.761255,40.761255
1,Central Park Tower Penthouse-217 W 57th New Yo...,Condo,195000000,7,10.0,17545.000000,"New York, NY 10019",Serhant,40.766393,40.766393
2,"620 Sinclair AveStaten Island, NY 10312",House,260000,4,2.0,2015.000000,"Staten Island, NY 10312",Sowae Corp,40.541805,40.541805
3,"2 E 55th St Unit 908W33Manhattan, NY 10022",Condo,69000,3,1.0,445.000000,"Manhattan, NY 10022",COMPASS,40.761398,40.761398
4,"5 E 64th StNew York, NY 10065",Townhouse,55000000,7,2.5,14175.000000,"New York, NY 10065",Sotheby's International Realty,40.767224,40.767224
...,...,...,...,...,...,...,...,...,...,...
4796,"222 E 80th St Apt 3AManhattan, NY 10075",Co-op,599000,1,1.0,2184.207862,"Manhattan, NY 10075",COMPASS,40.774350,40.774350
4797,"97-40 62 Dr Unit LgRego Park, NY 11374",Co-op,245000,1,1.0,2184.207862,"Rego Park, NY 11374",Mjr Real Estate Llc,40.732538,40.732538
4798,"427 W 21st St Unit GardenNew York, NY 10011",Co-op,1275000,1,1.0,2184.207862,"New York, NY 10011",Douglas Elliman,40.745882,40.745882
4799,"91-23 Corona Ave Unit 4GElmhurst, NY 11373",Condo,598125,2,1.0,655.000000,"Elmhurst, NY 11373",E Realty International Corp,40.742770,40.742770
4800,"460 Neptune Ave Apt 14OBrooklyn, NY 11224",Co-op,349000,1,1.0,750.000000,"Brooklyn, NY 11224",Nyc Realty Brokers Llc,40.579147,40.579147

## Identifying Borough

In [ ]:
#We had removed SUBLOCALITY & LOCALITY, which provided the borough information. 
#This is valuable information, but due to how unorganized these were, it would be inefficient to clean
#Rather lets extract the information we already have from the "STATE" column

In [142]:
#Identifying what is in STATE

DF1['STATE'].value_counts(dropna = False)

STATE
Brooklyn, NY 11235            99
Brooklyn, NY 11209            91
Forest Hills, NY 11375        88
Brooklyn, NY 11234            87
Staten Island, NY 10314       80
                              ..
Ny, NY 10017                   1
Queens, NY 11427               1
Queens, NY 11429               1
Long Island City, NY 11109     1
Ozone Park, NY 11416           1
Name: count, Length: 308, dtype: int64

In [143]:
#Seperate columns

DF1['STATE'].str.split(',',n=1, expand=True)

                  0          1
0          New York   NY 10022
1          New York   NY 10019
2     Staten Island   NY 10312
3         Manhattan   NY 10022
4          New York   NY 10065
...             ...        ...
4796      Manhattan   NY 10075
4797      Rego Park   NY 11374
4798       New York   NY 10011
4799       Elmhurst   NY 11373
4800       Brooklyn   NY 11224

[4587 rows x 2 columns]

In [144]:
#Seperate columns to Borough & Delete
#We only want to extract the Borough here

DF1[['Borough','Delete']]= DF1['STATE'].str.split(',',n=1, expand=True)
DF1

,MAIN_ADDRESS,Property Type,PRICE,BEDS,BATH,PROPERTYSQFT,STATE,Brokerages,LATITUDE,LATITUDE,Borough,Delete
0,"2 E 55th St Unit 803New York, NY 10022",Condo,315000,2,2.0,1400.000000,"New York, NY 10022",Douglas Elliman,40.761255,40.761255,New York,NY 10022
1,Central Park Tower Penthouse-217 W 57th New Yo...,Condo,195000000,7,10.0,17545.000000,"New York, NY 10019",Serhant,40.766393,40.766393,New York,NY 10019
2,"620 Sinclair AveStaten Island, NY 10312",House,260000,4,2.0,2015.000000,"Staten Island, NY 10312",Sowae Corp,40.541805,40.541805,Staten Island,NY 10312
3,"2 E 55th St Unit 908W33Manhattan, NY 10022",Condo,69000,3,1.0,445.000000,"Manhattan, NY 10022",COMPASS,40.761398,40.761398,Manhattan,NY 10022
4,"5 E 64th StNew York, NY 10065",Townhouse,55000000,7,2.5,14175.000000,"New York, NY 10065",Sotheby's International Realty,40.767224,40.767224,New York,NY 10065
...,...,...,...,...,...,...,...,...,...,...,...,...
4796,"222 E 80th St Apt 3AManhattan, NY 10075",Co-op,599000,1,1.0,2184.207862,"Manhattan, NY 10075",COMPASS,40.774350,40.774350,Manhattan,NY 10075
4797,"97-40 62 Dr Unit LgRego Park, NY 11374",Co-op,245000,1,1.0,2184.207862,"Rego Park, NY 11374",Mjr Real Estate Llc,40.732538,40.732538,Rego Park,NY 11374
4798,"427 W 21st St Unit GardenNew York, NY 10011",Co-op,1275000,1,1.0,2184.207862,"New York, NY 10011",Douglas Elliman,40.745882,40.745882,New York,NY 10011
4799,"91-23 Corona Ave Unit 4GElmhurst, NY 11373",Condo,598125,2,1.0,655.000000,"Elmhurst, NY 11373",E Realty International Corp,40.742770,40.742770,Elmhurst,NY 11373
4800,"460 Neptune Ave Apt 14OBrooklyn, NY 11224",Co-op,349000,1,1.0,750.000000,"Brooklyn, NY 11224",Nyc Realty Brokers Llc,40.579147,40.579147,Brooklyn,NY 11224

In [145]:
#Delete Excess Column

DF1 = DF1.drop(columns=['Delete'])

In [146]:
#Checking DF now

DF1.head(1)

,MAIN_ADDRESS,Property Type,PRICE,BEDS,BATH,PROPERTYSQFT,STATE,Brokerages,LATITUDE,LATITUDE,Borough
0,"2 E 55th St Unit 803New York, NY 10022",Condo,315000,2,2.0,1400.0,"New York, NY 10022",Douglas Elliman,40.761255,40.761255,New York

In [147]:
#Counting Boroughs.
#Result has not only boroughs, but also alot of specific neighborhoods
#This is unncessary information, we only want the 5 boroughs.

DF1['Borough'].value_counts(dropna = False)

Borough
Brooklyn                     1131
New York                      832
Staten Island                 524
Bronx                         468
Manhattan                     393
                             ...
Brooklyn Heights                1
Kew Garden Hills                1
Ditmas Park                     1
Brighton Beach                  1
Prospect Lefferts Gardens       1
Name: count, Length: 71, dtype: int64

In [148]:
#To replace all these extra borough informations we can continue to use replace

#DF1['Borough'] = DF1['Borough'].str.replace('Old','New')

#Replace Neighborhood with the Borough it is.

In [149]:
DF1['Borough'] = DF1['Borough'].str.replace('Forest Hills','Queens')

In [150]:
DF1['Borough'] = DF1['Borough'].str.replace('Flushing','Queens')

In [151]:
DF1['Borough'] = DF1['Borough'].str.replace('Bayside','Queens')

In [152]:
DF1['Borough'] = DF1['Borough'].str.replace('Jamaica','Queens')

In [153]:
DF1['Borough'] = DF1['Borough'].str.replace('Jackson Heights','Queens')

In [154]:
DF1['Borough'] = DF1['Borough'].str.replace('Rego Park','Queens')

In [155]:
DF1['Borough'] = DF1['Borough'].str.replace('Elmhurst','Queens')

In [156]:
DF1['Borough'] = DF1['Borough'].str.replace('Woodside','Queens')

In [157]:
DF1['Borough'] = DF1['Borough'].str.replace('Whitestone','Queens')

In [158]:
DF1['Borough'] = DF1['Borough'].str.replace('Astoria','Queens')

In [159]:
DF1['Borough'] = DF1['Borough'].str.replace('Corona','Queens')

In [160]:
#Floral Park is on the verge of Queens & Long Island. As we are doing NYC listings we will include this as Queens
DF1['Borough'] = DF1['Borough'].str.replace('Floral Park','Queens')

In [161]:
DF1['Borough'] = DF1['Borough'].str.replace('Middle Village','Queens')

In [162]:
DF1['Borough'] = DF1['Borough'].str.replace('Fresh Meadows','Queens')

In [163]:
DF1['Borough'] = DF1['Borough'].str.replace('Kew Gardens','Queens')

In [164]:
DF1['Borough'] = DF1['Borough'].str.replace('East Elmhurst','Queens')

In [165]:
DF1['Borough'] = DF1['Borough'].str.replace('College Point','Queens')

In [166]:
DF1['Borough'] = DF1['Borough'].str.replace('Far Rockaway','Queens')

In [167]:
DF1['Borough'] = DF1['Borough'].str.replace('South Ozone Park','Queens')

In [168]:
DF1['Borough'] = DF1['Borough'].str.replace('Little Neck','Queens')

In [169]:
DF1['Borough'] = DF1['Borough'].str.replace('Ridgewood','Queens')

In [170]:
DF1['Borough'] = DF1['Borough'].str.replace('Saint Albans','Queens')

In [171]:
DF1['Borough'] = DF1['Borough'].str.replace('Queens Village','Queens')

In [172]:
DF1['Borough'] = DF1['Borough'].str.replace('Woodhaven','Queens')

In [173]:
DF1['Borough'] = DF1['Borough'].str.replace('Springfield Gardens','Queens')

In [174]:
DF1['Borough'] = DF1['Borough'].str.replace('Rockaway Park','Queens')

In [175]:
DF1['Borough'] = DF1['Borough'].str.replace('Maspeth','Queens')

In [176]:
DF1['Borough'] = DF1['Borough'].str.replace('Bellerose','Queens')

In [177]:
DF1['Borough'] = DF1['Borough'].str.replace('Ozone Park','Queens')

In [178]:
DF1['Borough'] = DF1['Borough'].str.replace('Hollis','Queens')

In [179]:
DF1['Borough'] = DF1['Borough'].str.replace('Glen Oaks','Queens')

In [180]:
DF1['Borough'] = DF1['Borough'].str.replace('Long Island City','Queens')

In [181]:
DF1['Borough'] = DF1['Borough'].str.replace('Richmond Hill','Queens')

In [182]:
DF1['Borough'] = DF1['Borough'].str.replace('Douglaston','Queens')

In [183]:
DF1['Borough'] = DF1['Borough'].str.replace('Rosedale','Queens')

In [184]:
DF1['Borough'] = DF1['Borough'].str.replace('Bedford Stuyvesant','Brooklyn')

In [185]:
DF1['Borough'] = DF1['Borough'].str.replace('Glendale','Queens')

In [186]:
DF1['Borough'] = DF1['Borough'].str.replace('Cambria Heights','Queens')

In [187]:
DF1['Borough'] = DF1['Borough'].str.replace('Arvene','Queens')

In [188]:
DF1['Borough'] = DF1['Borough'].str.replace('Beechhurst','Queens')

In [189]:
DF1['Borough'] = DF1['Borough'].str.replace('New York City','Manhattan')

In [190]:
DF1['Borough'] = DF1['Borough'].str.replace('Crown Heights','Brooklyn')

In [191]:
DF1['Borough'] = DF1['Borough'].str.replace('Briarwood','Queens')

In [192]:
DF1['Borough'] = DF1['Borough'].str.replace('Brownville','Brooklyn')

In [193]:
DF1['Borough'] = DF1['Borough'].str.replace('Sunnyside','Queens')

In [194]:
DF1['Borough'] = DF1['Borough'].str.replace('Malba','Queens')

In [195]:
DF1['Borough'] = DF1['Borough'].str.replace('Kew Garden Hills','Queens')

In [196]:
DF1['Borough'] = DF1['Borough'].str.replace('Kensington','Brooklyn')

In [197]:
DF1['Borough'] = DF1['Borough'].str.replace('Old Mill Basin','Queens')

In [198]:
DF1['Borough'] = DF1['Borough'].str.replace('Stuyvesant Heights','Brooklyn')

In [199]:
DF1['Borough'] = DF1['Borough'].str.replace('Nyc','Manhattan')

In [200]:
DF1['Borough'] = DF1['Borough'].str.replace('East Flatbush','Brooklyn')

In [201]:
DF1['Borough'] = DF1['Borough'].str.replace('Richmond Hill South','Manhattan')

In [202]:
DF1['Borough'] = DF1['Borough'].str.replace('Ny','Manhattan')

In [203]:
DF1['Borough'] = DF1['Borough'].str.replace('Roosevelet Island','Manhattan')

In [204]:
DF1['Borough'] = DF1['Borough'].str.replace('Bronx Ny','Bronx')

In [205]:
DF1['Borough'] = DF1['Borough'].str.replace('New Hyde Park','Queens')

In [206]:
DF1['Borough'] = DF1['Borough'].str.replace('Canarsie','Brooklyn')

In [207]:
DF1['Borough'] = DF1['Borough'].str.replace('Belle Harbor','Queens')

In [208]:
DF1['Borough'] = DF1['Borough'].str.replace('Brooklyn Heights','Brooklyn')

In [209]:
DF1['Borough'] = DF1['Borough'].str.replace('Kew Garden Hills','Queens')

In [210]:
DF1['Borough'] = DF1['Borough'].str.replace('Ditmas Park','Brooklyn')

In [211]:
DF1['Borough'] = DF1['Borough'].str.replace('Brighton Beach','Brooklyn')

In [212]:
DF1['Borough'] = DF1['Borough'].str.replace('Prospect Lefferts Gardens','Brooklyn')

In [213]:
DF1['Borough'].value_counts(dropna = False)

Borough
Brooklyn            1156
Queens              1128
New York             832
Staten Island        524
Bronx                468
Manhattan            402
Howard Beach          39
East Queens           25
Arverne                6
Queens Hills           3
Queens South           2
Roosevelt Island       1
Bronx Manhattan        1
Name: count, dtype: int64

In [214]:
DF1['Borough'] = DF1['Borough'].str.replace('New York','Manhattan')

In [215]:
DF1['Borough'] = DF1['Borough'].str.replace('Howard Beach','Queens')

In [216]:
DF1['Borough'] = DF1['Borough'].str.replace('East Queens','Queens')

In [217]:
DF1['Borough'] = DF1['Borough'].str.replace('Queensn','Queens')

In [218]:
DF1['Borough'] = DF1['Borough'].str.replace('Arverne','Queens')

In [219]:
DF1['Borough'] = DF1['Borough'].str.replace('Queens Hills','Queens')

In [220]:
DF1['Borough'] = DF1['Borough'].str.replace('Roosevelt Island','Manhattan')

In [221]:
DF1['Borough'] = DF1['Borough'].str.replace('Bronx Manhattan','Bronx')

In [222]:
DF1['Borough'] = DF1['Borough'].str.replace('Ditmas Park','Brooklyn')

In [832]:
DF1['Borough'] = DF1['Borough'].str.replace('Queens South','Queens')

In [833]:
#5 boroughs only now. 

DF1['Borough'].value_counts(dropna = False)

Borough
Manhattan        1228
Queens           1189
Brooklyn         1149
Staten Island     521
Bronx             467
Name: count, dtype: int64

In [226]:
DF1.columns

Index(['MAIN_ADDRESS', 'Property Type', 'PRICE', 'BEDS', 'BATH',
       'PROPERTYSQFT', 'STATE', 'Brokerages', 'LATITUDE', 'LATITUDE',
       'Borough'],
      dtype='object')

In [227]:
DF1.head(5)

,MAIN_ADDRESS,Property Type,PRICE,BEDS,BATH,PROPERTYSQFT,STATE,Brokerages,LATITUDE,LATITUDE,Borough
0,"2 E 55th St Unit 803New York, NY 10022",Condo,315000,2,2.0,1400.0,"New York, NY 10022",Douglas Elliman,40.761255,40.761255,Manhattan
1,Central Park Tower Penthouse-217 W 57th New Yo...,Condo,195000000,7,10.0,17545.0,"New York, NY 10019",Serhant,40.766393,40.766393,Manhattan
2,"620 Sinclair AveStaten Island, NY 10312",House,260000,4,2.0,2015.0,"Staten Island, NY 10312",Sowae Corp,40.541805,40.541805,Staten Island
3,"2 E 55th St Unit 908W33Manhattan, NY 10022",Condo,69000,3,1.0,445.0,"Manhattan, NY 10022",COMPASS,40.761398,40.761398,Manhattan
4,"5 E 64th StNew York, NY 10065",Townhouse,55000000,7,2.5,14175.0,"New York, NY 10065",Sotheby's International Realty,40.767224,40.767224,Manhattan

## Replacing State with Zipcode

In [ ]:
#State information is not necessary here. We know all of these are referring to New York data. 
# We also have the borough included
# The information we want from the 'STATE' column is the zipcode. 

#Extracting Zipcode out and removing state column

In [229]:
DF1['STATE'].str.split('NY',n=1, expand=True)

                    0       1
0          New York,    10022
1          New York,    10019
2     Staten Island,    10312
3         Manhattan,    10022
4          New York,    10065
...               ...     ...
4796      Manhattan,    10075
4797      Rego Park,    11374
4798       New York,    10011
4799       Elmhurst,    11373
4800       Brooklyn,    11224

[4587 rows x 2 columns]

In [230]:
DF1[['Delete','Zipcode']] = DF1['STATE'].str.split('NY',n=1, expand=True)
DF1

,MAIN_ADDRESS,Property Type,PRICE,BEDS,BATH,PROPERTYSQFT,STATE,Brokerages,LATITUDE,LATITUDE,Borough,Delete,Zipcode
0,"2 E 55th St Unit 803New York, NY 10022",Condo,315000,2,2.0,1400.000000,"New York, NY 10022",Douglas Elliman,40.761255,40.761255,Manhattan,"New York,",10022
1,Central Park Tower Penthouse-217 W 57th New Yo...,Condo,195000000,7,10.0,17545.000000,"New York, NY 10019",Serhant,40.766393,40.766393,Manhattan,"New York,",10019
2,"620 Sinclair AveStaten Island, NY 10312",House,260000,4,2.0,2015.000000,"Staten Island, NY 10312",Sowae Corp,40.541805,40.541805,Staten Island,"Staten Island,",10312
3,"2 E 55th St Unit 908W33Manhattan, NY 10022",Condo,69000,3,1.0,445.000000,"Manhattan, NY 10022",COMPASS,40.761398,40.761398,Manhattan,"Manhattan,",10022
4,"5 E 64th StNew York, NY 10065",Townhouse,55000000,7,2.5,14175.000000,"New York, NY 10065",Sotheby's International Realty,40.767224,40.767224,Manhattan,"New York,",10065
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4796,"222 E 80th St Apt 3AManhattan, NY 10075",Co-op,599000,1,1.0,2184.207862,"Manhattan, NY 10075",COMPASS,40.774350,40.774350,Manhattan,"Manhattan,",10075
4797,"97-40 62 Dr Unit LgRego Park, NY 11374",Co-op,245000,1,1.0,2184.207862,"Rego Park, NY 11374",Mjr Real Estate Llc,40.732538,40.732538,Queens,"Rego Park,",11374
4798,"427 W 21st St Unit GardenNew York, NY 10011",Co-op,1275000,1,1.0,2184.207862,"New York, NY 10011",Douglas Elliman,40.745882,40.745882,Manhattan,"New York,",10011
4799,"91-23 Corona Ave Unit 4GElmhurst, NY 11373",Condo,598125,2,1.0,655.000000,"Elmhurst, NY 11373",E Realty International Corp,40.742770,40.742770,Queens,"Elmhurst,",11373
4800,"460 Neptune Ave Apt 14OBrooklyn, NY 11224",Co-op,349000,1,1.0,750.000000,"Brooklyn, NY 11224",Nyc Realty Brokers Llc,40.579147,40.579147,Brooklyn,"Brooklyn,",11224

In [231]:
DF1 = DF1.drop(columns=['Delete'])

In [233]:
DF1 = DF1.drop(columns=['STATE'])

In [234]:
DF1.head(1)

,MAIN_ADDRESS,Property Type,PRICE,BEDS,BATH,PROPERTYSQFT,Brokerages,LATITUDE,LATITUDE,Borough,Zipcode
0,"2 E 55th St Unit 803New York, NY 10022",Condo,315000,2,2.0,1400.0,Douglas Elliman,40.761255,40.761255,Manhattan,10022

## Inputting Neighborhoods to match Zipcodes

In [413]:
#Checking to see Columns. 

#Goal is to add a column to identify what Neighborhood within NYC this is within

DF1.head(1)

,MAIN_ADDRESS,Property Type,PRICE,BEDS,BATH,PROPERTYSQFT,Brokerages,LATITUDE,LATITUDE,Borough,Zipcode
0,"2 E 55th St Unit 803New York, NY 10022",Condo,315000,2,2.0,1400.0,Douglas Elliman,40.761255,40.761255,Manhattan,10022

In [512]:
#Problem 1 - Neighborhood column would not show up as 'Gramercy Park'
#Error shows the data type is wrong

DF1.loc[DF1.Zipcode == 10022, "Neighborhood"] = 'Gramercy Park'

/var/folders/yj/v30db1v90zs0p0pvttp796cm0000gp/T/ipykernel_4917/4205792331.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Gramercy Park' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  DF1.loc[DF1.Zipcode == 10022, "Neighborhood"] = 'Gramercy Park'

In [527]:
#Change the Zipcode column's data type to an integer rather than a object

DF1['Zipcode'] = DF1['Zipcode'].astype(int)

In [528]:
#Checking data types. Specifically Zipcode is now int64

DF1.dtypes

MAIN_ADDRESS      object
Property Type     object
PRICE              int64
BEDS              object
BATH              object
PROPERTYSQFT     float64
Brokerages        object
LATITUDE         float64
LATITUDE         float64
Borough           object
Zipcode            int64
Neighborhood      object
dtype: object

In [530]:
#Testing on row 0 's Neighborhood to see if it is working.
#Success its now working when Zipcode is int64 and Neihgborhood is Object

DF1.loc[DF1.Zipcode == 10022, "Neighborhood"] = 'Gramercy Park'

In [532]:
DF1.head(1)

,MAIN_ADDRESS,Property Type,PRICE,BEDS,BATH,PROPERTYSQFT,Brokerages,LATITUDE,LATITUDE,Borough,Zipcode,Neighborhood
0,"2 E 55th St Unit 803New York, NY 10022",Condo,315000,2,2.0,1400.0,Douglas Elliman,40.761255,40.761255,Manhattan,10022,Gramercy Park

In [ ]:
#Adding Zipcodes that will demonstrate the Neighborhood,
#Result will be a filled out Neighborhood column based on the row's zipcode.

In [533]:
#Central Bronx Zipcodes

In [534]:
DF1.loc[DF1["Zipcode"] == 10453, 'Neighborhood'] = 'Central Bronx'

In [535]:
DF1.loc[DF1["Zipcode"] == 10453, 'Neighborhood'] = 'Central Bronx'

In [536]:
DF1.loc[DF1['Zipcode'] ==10457, 'Neighborhood'] = 'Central Bronx'

In [537]:
DF1.loc[DF1['Zipcode'] ==10460, 'Neighborhood'] = 'Central Bronx'

In [538]:
#Fordham Zipcodes

In [539]:
DF1.loc[DF1['Zipcode'] ==10458, 'Neighborhood'] = 'Fordham'

In [540]:
DF1.loc[DF1['Zipcode'] ==10467, 'Neighborhood'] = 'Fordham'

In [541]:
DF1.loc[DF1['Zipcode'] ==10468, 'Neighborhood'] = 'Fordham'

In [542]:
#High Bridge Zipcodes

In [543]:
DF1.loc[DF1['Zipcode'] ==10451, 'Neighborhood'] = 'High Bridge'

In [544]:
DF1.loc[DF1['Zipcode'] ==10452, 'Neighborhood'] = 'High Bridge'

In [545]:
DF1.loc[DF1['Zipcode'] ==10456, 'Neighborhood'] = 'High Bridge'

In [546]:
#Hunts Point Zipcodes

In [547]:
DF1.loc[DF1['Zipcode'] ==10454, 'Neighborhood'] = 'Hunts Point'

In [548]:
DF1.loc[DF1['Zipcode'] ==10455, 'Neighborhood'] = 'Hunts Point'

In [549]:
DF1.loc[DF1['Zipcode'] ==10459, 'Neighborhood'] = 'Hunts Point'

In [550]:
DF1.loc[DF1['Zipcode'] ==10474, 'Neighborhood'] = 'Hunts Point'

In [551]:
#Riverdale Zipcodes

In [552]:
DF1.loc[DF1['Zipcode'] ==10463, 'Neighborhood'] = 'Riverdale'

In [553]:
DF1.loc[DF1['Zipcode'] ==10471, 'Neighborhood'] = 'Riverdale'

In [554]:
#Northeast Bronx Zipcodes

In [555]:
DF1.loc[DF1['Zipcode'] ==10466, 'Neighborhood'] = 'Northeast Bronx'

In [556]:
DF1.loc[DF1['Zipcode'] ==10469, 'Neighborhood'] = 'Northeast Bronx'

In [557]:
DF1.loc[DF1['Zipcode'] ==10470, 'Neighborhood'] = 'Northeast Bronx'

In [558]:
DF1.loc[DF1['Zipcode'] ==10475, 'Neighborhood'] = 'Northeast Bronx'

In [559]:
#Southeast Bronx Zipcodes

In [560]:
DF1.loc[DF1['Zipcode'] ==10461, 'Neighborhood'] = 'Southeast Bronx'

In [561]:
DF1.loc[DF1['Zipcode'] ==10462, 'Neighborhood'] = 'Southeast Bronx'

In [562]:
DF1.loc[DF1['Zipcode'] ==10464, 'Neighborhood'] = 'Southeast Bronx'

In [563]:
DF1.loc[DF1['Zipcode'] ==10465, 'Neighborhood'] = 'Southeast Bronx'

In [564]:
DF1.loc[DF1['Zipcode'] ==10472, 'Neighborhood'] = 'Southeast Bronx'

In [565]:
DF1.loc[DF1['Zipcode'] ==10473, 'Neighborhood'] = 'Southeast Bronx'

In [567]:
#Central Brooklyn Zipcodes

In [568]:
DF1.loc[DF1['Zipcode'] ==11212, 'Neighborhood'] = 'Central Brooklyn'

In [569]:
DF1.loc[DF1['Zipcode'] ==11213, 'Neighborhood'] = 'Central Brooklyn'

In [570]:
DF1.loc[DF1['Zipcode'] ==11216, 'Neighborhood'] = 'Central Brooklyn'

In [571]:
DF1.loc[DF1['Zipcode'] ==11233, 'Neighborhood'] = 'Central Brooklyn'

In [572]:
DF1.loc[DF1['Zipcode'] ==11238, 'Neighborhood'] = 'Central Brooklyn'

In [573]:
#Southwest Brooklyn Zipcodes

In [574]:
DF1.loc[DF1['Zipcode'] ==11209, 'Neighborhood'] = 'Southwest Brooklyn'

In [575]:
DF1.loc[DF1['Zipcode'] ==11214, 'Neighborhood'] = 'Southwest Brooklyn'

In [576]:
DF1.loc[DF1['Zipcode'] ==11228, 'Neighborhood'] = 'Southwest Brooklyn'

In [577]:
#Borough Park Zipcodes

In [578]:
DF1.loc[DF1['Zipcode'] ==11204, 'Neighborhood'] = 'Borough Park'

In [579]:
DF1.loc[DF1['Zipcode'] ==11218, 'Neighborhood'] = 'Borough Park'

In [580]:
DF1.loc[DF1['Zipcode'] ==11219, 'Neighborhood'] = 'Borough Park'

In [581]:
DF1.loc[DF1['Zipcode'] ==11230, 'Neighborhood'] = 'Borough Park'

In [582]:
#Canarsie Zipcodes

In [583]:
DF1.loc[DF1['Zipcode'] ==11234, 'Neighborhood'] = 'Canarsie'

In [584]:
DF1.loc[DF1['Zipcode'] ==11236, 'Neighborhood'] = 'Canarsie'

In [585]:
DF1.loc[DF1['Zipcode'] ==11239, 'Neighborhood'] = 'Canarsie'

In [586]:
#South Brooklyn Zipcodes

In [587]:
DF1.loc[DF1['Zipcode'] ==11223, 'Neighborhood'] = 'South Brooklyn'

In [588]:
DF1.loc[DF1['Zipcode'] ==11224, 'Neighborhood'] = 'South Brooklyn'

In [589]:
DF1.loc[DF1['Zipcode'] ==11229, 'Neighborhood'] = 'South Brooklyn'

In [590]:
DF1.loc[DF1['Zipcode'] ==11235, 'Neighborhood'] = 'South Brooklyn'

In [591]:
#Northwest Brooklyn Zipcodes

In [592]:
DF1.loc[DF1['Zipcode'] ==11201, 'Neighborhood'] = 'Northwest Brooklyn'

In [593]:
DF1.loc[DF1['Zipcode'] ==11205, 'Neighborhood'] = 'Northwest Brooklyn'

In [594]:
DF1.loc[DF1['Zipcode'] ==11215, 'Neighborhood'] = 'Northwest Brooklyn'

In [595]:
DF1.loc[DF1['Zipcode'] ==11217, 'Neighborhood'] = 'Northwest Brooklyn'

In [596]:
DF1.loc[DF1['Zipcode'] ==11231, 'Neighborhood'] = 'Northwest Brooklyn'

In [597]:
#Flatbush Zipcodes

In [598]:
DF1.loc[DF1['Zipcode'] ==11203, 'Neighborhood'] = 'Flatbush'

In [599]:
DF1.loc[DF1['Zipcode'] ==11210, 'Neighborhood'] = 'Flatbush'

In [600]:
DF1.loc[DF1['Zipcode'] ==11225, 'Neighborhood'] = 'Flatbush'

In [601]:
DF1.loc[DF1['Zipcode'] ==11226, 'Neighborhood'] = 'Flatbush'

In [602]:
#East New York

In [603]:
DF1.loc[DF1['Zipcode'] ==11207, 'Neighborhood'] = 'East New York'

In [604]:
DF1.loc[DF1['Zipcode'] ==11208, 'Neighborhood'] = 'East New York'

In [605]:
#Greenpoint

In [606]:
DF1.loc[DF1['Zipcode'] ==11211, 'Neighborhood'] = 'Green Point'

In [607]:
DF1.loc[DF1['Zipcode'] ==11222, 'Neighborhood'] = 'Green Point'

In [608]:
#Sunset Park

In [609]:
DF1.loc[DF1['Zipcode'] ==11220, 'Neighborhood'] = 'Sunset Park'

In [610]:
DF1.loc[DF1['Zipcode'] ==11232, 'Neighborhood'] = 'Sunset Park'

In [611]:
#Williamsburg

In [612]:
DF1.loc[DF1['Zipcode'] ==11206, 'Neighborhood'] = 'Williamsburg'

In [613]:
DF1.loc[DF1['Zipcode'] ==11221, 'Neighborhood'] = 'Williamsburg'

In [614]:
DF1.loc[DF1['Zipcode'] ==11237, 'Neighborhood'] = 'Williamsburg'

In [619]:
#Checking to see if everything is working.
#Process is working.

DF1['Zipcode'].value_counts(dropna = False)

Zipcode
11375    102
11235    100
11209     91
11234     90
10314     81
        ...
11040      1
11364      1
10475      1
11693      1
11416      1
Name: count, Length: 178, dtype: int64

In [620]:
#Central Harlem

In [621]:
DF1.loc[DF1['Zipcode'] ==10026, 'Neighborhood'] = 'Central Harlem'

In [622]:
DF1.loc[DF1['Zipcode'] ==10027, 'Neighborhood'] = 'Central Harlem'

In [623]:
DF1.loc[DF1['Zipcode'] ==10030, 'Neighborhood'] = 'Central Harlem'

In [624]:
DF1.loc[DF1['Zipcode'] ==10037, 'Neighborhood'] = 'Central Harlem'

In [625]:
DF1.loc[DF1['Zipcode'] ==10039, 'Neighborhood'] = 'Central Harlem'

In [626]:
#Chelsea

In [627]:
DF1.loc[DF1['Zipcode'] ==10001, 'Neighborhood'] = 'Chelsea'

In [628]:
DF1.loc[DF1['Zipcode'] ==10011, 'Neighborhood'] = 'Chelsea'

In [629]:
DF1.loc[DF1['Zipcode'] ==10018, 'Neighborhood'] = 'Chelsea'

In [630]:
DF1.loc[DF1['Zipcode'] ==10019, 'Neighborhood'] = 'Chelsea'

In [631]:
DF1.loc[DF1['Zipcode'] ==10020, 'Neighborhood'] = 'Chelsea'

In [632]:
DF1.loc[DF1['Zipcode'] ==10036, 'Neighborhood'] = 'Chelsea'

In [633]:
#East Harlem

In [634]:
DF1.loc[DF1['Zipcode'] ==10029, 'Neighborhood'] = 'East Harlem'

In [635]:
DF1.loc[DF1['Zipcode'] ==10035, 'Neighborhood'] = 'East Harlem'

In [636]:
#Gramercy Park

In [637]:
DF1.loc[DF1['Zipcode'] ==10010, 'Neighborhood'] = 'Gramercy Park'

In [638]:
DF1.loc[DF1['Zipcode'] ==10016, 'Neighborhood'] = 'Gramercy Park'

In [639]:
DF1.loc[DF1['Zipcode'] ==10017, 'Neighborhood'] = 'Gramercy Park'

In [640]:
DF1.loc[DF1['Zipcode'] ==10022, 'Neighborhood'] = 'Gramercy Park'

In [641]:
#Soho

In [642]:
DF1.loc[DF1['Zipcode'] ==10012, 'Neighborhood'] = 'Soho'

In [643]:
DF1.loc[DF1['Zipcode'] ==10013, 'Neighborhood'] = 'Soho'

In [644]:
DF1.loc[DF1['Zipcode'] ==10014, 'Neighborhood'] = 'Soho'

In [645]:
#Lower Manhattan

In [646]:
DF1.loc[DF1['Zipcode'] ==10004, 'Neighborhood'] = 'Lower Manhattan'

In [647]:
DF1.loc[DF1['Zipcode'] ==10005, 'Neighborhood'] = 'Lower Manhattan'

In [648]:
DF1.loc[DF1['Zipcode'] ==10006, 'Neighborhood'] = 'Lower Manhattan'

In [649]:
DF1.loc[DF1['Zipcode'] ==10007, 'Neighborhood'] = 'Lower Manhattan'

In [650]:
DF1.loc[DF1['Zipcode'] ==10038, 'Neighborhood'] = 'Lower Manhattan'

In [651]:
DF1.loc[DF1['Zipcode'] ==10280, 'Neighborhood'] = 'Lower Manhattan'

In [652]:
#Lower East Side

In [653]:
DF1.loc[DF1['Zipcode'] ==10002, 'Neighborhood'] = 'Lower East Side'

In [654]:
DF1.loc[DF1['Zipcode'] ==10003, 'Neighborhood'] = 'Lower East Side'

In [655]:
DF1.loc[DF1['Zipcode'] ==10009, 'Neighborhood'] = 'Lower East Side'

In [657]:
#Upper East Side

In [658]:
DF1.loc[DF1['Zipcode'] ==10021, 'Neighborhood'] = 'Upper East Side'

In [659]:
DF1.loc[DF1['Zipcode'] ==10028, 'Neighborhood'] = 'Upper East Side'

In [660]:
DF1.loc[DF1['Zipcode'] ==10044, 'Neighborhood'] = 'Upper East Side'

In [661]:
DF1.loc[DF1['Zipcode'] ==10065, 'Neighborhood'] = 'Upper East Side'

In [662]:
DF1.loc[DF1['Zipcode'] ==10075, 'Neighborhood'] = 'Upper East Side'

In [663]:
DF1.loc[DF1['Zipcode'] ==10128, 'Neighborhood'] = 'Upper East Side'

In [664]:
#Upper West Side

In [665]:
DF1.loc[DF1['Zipcode'] ==10023, 'Neighborhood'] = 'Upper East Side'

In [666]:
DF1.loc[DF1['Zipcode'] ==10024, 'Neighborhood'] = 'Upper East Side'

In [667]:
DF1.loc[DF1['Zipcode'] ==10025, 'Neighborhood'] = 'Upper East Side'

In [668]:
#Washington Heights

In [669]:
DF1.loc[DF1['Zipcode'] ==10031, 'Neighborhood'] = 'Washington Heights'

In [670]:
DF1.loc[DF1['Zipcode'] ==10032, 'Neighborhood'] = 'Washington Heights'

In [671]:
DF1.loc[DF1['Zipcode'] ==10033, 'Neighborhood'] = 'Washington Heights'

In [672]:
DF1.loc[DF1['Zipcode'] ==10034, 'Neighborhood'] = 'Washington Heights'

In [673]:
DF1.loc[DF1['Zipcode'] ==10040, 'Neighborhood'] = 'Washington Heights'

In [674]:
#Northeast Queens

In [773]:
DF1.loc[DF1['Zipcode'] ==11361, 'Neighborhood'] = 'Northeast Queens'

In [774]:
DF1.loc[DF1['Zipcode'] ==11362, 'Neighborhood'] = 'Northeast Queens'

In [775]:
DF1.loc[DF1['Zipcode'] ==11363, 'Neighborhood'] = 'Northeast Queens'

In [776]:
DF1.loc[DF1['Zipcode'] ==11364, 'Neighborhood'] = 'Northeast Queens'

In [ ]:
#Central Queens

In [777]:
DF1.loc[DF1['Zipcode'] ==11365, 'Neighborhood'] = 'Central Queens'

In [778]:
DF1.loc[DF1['Zipcode'] ==11366, 'Neighborhood'] = 'Central Queens'

In [779]:
DF1.loc[DF1['Zipcode'] ==11367, 'Neighborhood'] = 'Central Queens'

In [ ]:
#Jamaica

In [676]:
DF1.loc[DF1['Zipcode'] ==11412, 'Neighborhood'] = 'Jamaica'

In [677]:
DF1.loc[DF1['Zipcode'] ==11423, 'Neighborhood'] = 'Jamaica'

In [678]:
DF1.loc[DF1['Zipcode'] ==11432, 'Neighborhood'] = 'Jamaica'

In [679]:
DF1.loc[DF1['Zipcode'] ==11433, 'Neighborhood'] = 'Jamaica'

In [680]:
DF1.loc[DF1['Zipcode'] ==11434, 'Neighborhood'] = 'Jamaica'

In [681]:
DF1.loc[DF1['Zipcode'] ==11435, 'Neighborhood'] = 'Jamaica'

In [682]:
DF1.loc[DF1['Zipcode'] ==11436, 'Neighborhood'] = 'Jamaica'

In [683]:
#Northwest Queens

In [685]:
DF1.loc[DF1['Zipcode'] ==11101, 'Neighborhood'] = 'Northwest Queens'

In [686]:
DF1.loc[DF1['Zipcode'] ==11102, 'Neighborhood'] = 'Northwest Queens'

In [687]:
DF1.loc[DF1['Zipcode'] ==11103, 'Neighborhood'] = 'Northwest Queens'

In [688]:
DF1.loc[DF1['Zipcode'] ==11104, 'Neighborhood'] = 'Northwest Queens'

In [689]:
DF1.loc[DF1['Zipcode'] ==11105, 'Neighborhood'] = 'Northwest Queens'

In [690]:
DF1.loc[DF1['Zipcode'] ==11106, 'Neighborhood'] = 'Northwest Queens'

In [ ]:
#West Central Queens

In [691]:
DF1.loc[DF1['Zipcode'] ==11374, 'Neighborhood'] = 'West Central Queens'

In [692]:
DF1.loc[DF1['Zipcode'] ==11375, 'Neighborhood'] = 'West Central Queens'

In [693]:
DF1.loc[DF1['Zipcode'] ==11379, 'Neighborhood'] = 'West Central Queens'

In [694]:
DF1.loc[DF1['Zipcode'] ==11385, 'Neighborhood'] = 'West Central Queens'

In [695]:
#Rockaway

In [696]:
DF1.loc[DF1['Zipcode'] ==11691, 'Neighborhood'] = 'Rockaway'

In [697]:
DF1.loc[DF1['Zipcode'] ==11692, 'Neighborhood'] = 'Rockaway'

In [698]:
DF1.loc[DF1['Zipcode'] ==11693, 'Neighborhood'] = 'Rockaway'

In [699]:
DF1.loc[DF1['Zipcode'] ==11694, 'Neighborhood'] = 'Rockaway'

In [700]:
DF1.loc[DF1['Zipcode'] ==11695, 'Neighborhood'] = 'Rockaway'

In [701]:
DF1.loc[DF1['Zipcode'] ==11697, 'Neighborhood'] = 'Rockaway'

In [ ]:
#Southeast Queens

In [702]:
DF1.loc[DF1['Zipcode'] ==11004, 'Neighborhood'] = 'Southeast Queens'

In [703]:
DF1.loc[DF1['Zipcode'] ==11005, 'Neighborhood'] = 'Southeast Queens'

In [704]:
DF1.loc[DF1['Zipcode'] ==11411, 'Neighborhood'] = 'Southeast Queens'

In [705]:
DF1.loc[DF1['Zipcode'] ==11413, 'Neighborhood'] = 'Southeast Queens'

In [707]:
DF1.loc[DF1['Zipcode'] ==11422, 'Neighborhood'] = 'Southeast Queens'

In [706]:
DF1.loc[DF1['Zipcode'] ==11426, 'Neighborhood'] = 'Southeast Queens'

In [708]:
DF1.loc[DF1['Zipcode'] ==11427, 'Neighborhood'] = 'Southeast Queens'

In [709]:
DF1.loc[DF1['Zipcode'] ==11428, 'Neighborhood'] = 'Southeast Queens'

In [710]:
DF1.loc[DF1['Zipcode'] ==11429, 'Neighborhood'] = 'Southeast Queens'

In [711]:
#Southwest Queens

In [712]:
DF1.loc[DF1['Zipcode'] ==11004, 'Neighborhood'] = 'Southwest Queens'

In [713]:
DF1.loc[DF1['Zipcode'] ==11005, 'Neighborhood'] = 'Southwest Queens'

In [714]:
DF1.loc[DF1['Zipcode'] ==11411, 'Neighborhood'] = 'Southwest Queens'

In [715]:
DF1.loc[DF1['Zipcode'] ==11413, 'Neighborhood'] = 'Southwest Queens'

In [716]:
DF1.loc[DF1['Zipcode'] ==11422, 'Neighborhood'] = 'Southwest Queens'

In [717]:
DF1.loc[DF1['Zipcode'] ==11426, 'Neighborhood'] = 'Southwest Queens'

In [718]:
DF1.loc[DF1['Zipcode'] ==11427, 'Neighborhood'] = 'Southwest Queens'

In [719]:
DF1.loc[DF1['Zipcode'] ==11428, 'Neighborhood'] = 'Southwest Queens'

In [720]:
DF1.loc[DF1['Zipcode'] ==11429, 'Neighborhood'] = 'Southwest Queens'

In [721]:
#West Queens

In [722]:
DF1.loc[DF1['Zipcode'] ==11368, 'Neighborhood'] = 'West Queens'

In [723]:
DF1.loc[DF1['Zipcode'] ==11369, 'Neighborhood'] = 'West Queens'

In [724]:
DF1.loc[DF1['Zipcode'] ==11370, 'Neighborhood'] = 'West Queens'

In [725]:
DF1.loc[DF1['Zipcode'] ==11372, 'Neighborhood'] = 'West Queens'

In [726]:
DF1.loc[DF1['Zipcode'] ==11373, 'Neighborhood'] = 'West Queens'

In [727]:
DF1.loc[DF1['Zipcode'] ==11377, 'Neighborhood'] = 'West Queens'

In [728]:
DF1.loc[DF1['Zipcode'] ==11378, 'Neighborhood'] = 'West Queens'

In [730]:
#Port Richmond

In [731]:
DF1.loc[DF1['Zipcode'] ==10302, 'Neighborhood'] = 'Port Richmond'

In [732]:
DF1.loc[DF1['Zipcode'] ==10303, 'Neighborhood'] = 'Port Richmond'

In [733]:
DF1.loc[DF1['Zipcode'] ==10310, 'Neighborhood'] = 'Port Richmond'

In [734]:
#South Shore

In [735]:
DF1.loc[DF1['Zipcode'] ==10306, 'Neighborhood'] = 'South Shore'

In [736]:
DF1.loc[DF1['Zipcode'] ==10307, 'Neighborhood'] = 'South Shore'

In [737]:
DF1.loc[DF1['Zipcode'] ==10308, 'Neighborhood'] = 'South Shore'

In [738]:
DF1.loc[DF1['Zipcode'] ==10309, 'Neighborhood'] = 'South Shore'

In [739]:
DF1.loc[DF1['Zipcode'] ==10312, 'Neighborhood'] = 'South Shore'

In [740]:
#Stapleton

In [741]:
DF1.loc[DF1['Zipcode'] ==10301, 'Neighborhood'] = 'Stapleton'

In [742]:
DF1.loc[DF1['Zipcode'] ==10304, 'Neighborhood'] = 'Stapleton'

In [743]:
DF1.loc[DF1['Zipcode'] ==10305, 'Neighborhood'] = 'Stapleton'

In [744]:
#Mid-Island

In [745]:
DF1.loc[DF1['Zipcode'] ==10314, 'Neighborhood'] = 'Mid Island'

In [746]:
#Checking to see values

DF1['Zipcode'].value_counts(dropna = False)

Zipcode
11375    102
11235    100
11209     91
11234     90
10314     81
        ...
11040      1
11364      1
10475      1
11693      1
11416      1
Name: count, Length: 178, dtype: int64

In [748]:
#Checking to see if all rows are filled

#Some "nan" exist will further investigate

DF1['Neighborhood'].head(50)

0           Gramercy Park
1                 Chelsea
2             South Shore
3           Gramercy Park
4         Upper East Side
5        Central Brooklyn
6          Central Harlem
7               Stapleton
8         Southeast Bronx
9            Borough Park
10            High Bridge
11          Port Richmond
12            West Queens
13            West Queens
14                   Soho
15            South Shore
16            West Queens
17     Southwest Brooklyn
18              Riverdale
19    West Central Queens
20              Stapleton
21    West Central Queens
22        Southeast Bronx
23              Stapleton
24            South Shore
25                Jamaica
26            West Queens
27     Southwest Brooklyn
28            West Queens
29              Stapleton
30        Southeast Bronx
31             Mid Island
32          Port Richmond
33          East New York
34           Borough Park
35           Borough Park
36              Stapleton
37                    nan
38                    nan
39            South Shore
40          Central Bronx
41           Borough Park
42                    nan
43            High Bridge
44                    nan
45                Jamaica
46                   Soho
47                    nan
48              Stapleton
49             Mid Island
Name: Neighborhood, dtype: object

In [749]:
#Checking to see if all rows are filled

##Some "nan" exist will further investigate

DF1['Neighborhood'].tail(50)

4741                    nan
4743    West Central Queens
4745        Upper East Side
4748            South Shore
4749        Upper East Side
4750        Upper East Side
4754                    nan
4755        Lower East Side
4756        Upper East Side
4757            High Bridge
4758          Gramercy Park
4759         Central Harlem
4760           Borough Park
4761         South Brooklyn
4762    West Central Queens
4763    West Central Queens
4764     Southwest Brooklyn
4765        Upper East Side
4766            West Queens
4767                    nan
4768       Northwest Queens
4769                    nan
4770        Lower East Side
4771             Mid Island
4772       Central Brooklyn
4773          East New York
4774          East New York
4776            South Shore
4777               Canarsie
4778     Southwest Brooklyn
4779       Central Brooklyn
4781                    nan
4783        Northeast Bronx
4784                    nan
4785               Rockaway
4786                Jamaica
4787         Central Harlem
4788        Upper East Side
4789            West Queens
4790                   Soho
4791          Gramercy Park
4792            Sunset Park
4793        Upper East Side
4794         Central Harlem
4795         South Brooklyn
4796        Upper East Side
4797    West Central Queens
4798                Chelsea
4799            West Queens
4800         South Brooklyn
Name: Neighborhood, dtype: object

In [752]:
#Viewing one specific Row. Row 37 has NaN as we can see from ^^
#Forgot to input North Queens zipcode.

display(DF1.iloc[37])

MAIN_ADDRESS     44-55 Kissena Blvd Unit 5FFlushing, NY 11355
Property Type                                          Co-op
PRICE                                                  275000
BEDS                                                        1
BATH                                                      1.0
PROPERTYSQFT                                      2184.207862
Brokerages                        E Realty International Corp
LATITUDE                                            40.752877
LATITUDE                                            40.752877
Borough                                                Queens
Zipcode                                                 11355
Neighborhood                                              nan
Name: 37, dtype: object

In [753]:
#North Queens Zipcode

In [754]:
DF1.loc[DF1['Zipcode'] ==11354, 'Neighborhood'] = 'North Queens'

In [755]:
DF1.loc[DF1['Zipcode'] ==11355, 'Neighborhood'] = 'North Queens'

In [756]:
DF1.loc[DF1['Zipcode'] ==11356, 'Neighborhood'] = 'North Queens'

In [757]:
DF1.loc[DF1['Zipcode'] ==11357, 'Neighborhood'] = 'North Queens'

In [758]:
DF1.loc[DF1['Zipcode'] ==11358, 'Neighborhood'] = 'North Queens'

In [759]:
DF1.loc[DF1['Zipcode'] ==11359, 'Neighborhood'] = 'North Queens'

In [760]:
DF1.loc[DF1['Zipcode'] ==11360, 'Neighborhood'] = 'North Queens'

In [ ]:
#Now checking to see if there are any "nan" values after addressing North Queens

In [761]:
#Less nan values but still some 
#Checking what else is missing

DF1['Neighborhood'].head(50)

0           Gramercy Park
1                 Chelsea
2             South Shore
3           Gramercy Park
4         Upper East Side
5        Central Brooklyn
6          Central Harlem
7               Stapleton
8         Southeast Bronx
9            Borough Park
10            High Bridge
11          Port Richmond
12            West Queens
13            West Queens
14                   Soho
15            South Shore
16            West Queens
17     Southwest Brooklyn
18              Riverdale
19    West Central Queens
20              Stapleton
21    West Central Queens
22        Southeast Bronx
23              Stapleton
24            South Shore
25                Jamaica
26            West Queens
27     Southwest Brooklyn
28            West Queens
29              Stapleton
30        Southeast Bronx
31             Mid Island
32          Port Richmond
33          East New York
34           Borough Park
35           Borough Park
36              Stapleton
37           North Queens
38                    nan
39            South Shore
40          Central Bronx
41           Borough Park
42                    nan
43            High Bridge
44           North Queens
45                Jamaica
46                   Soho
47           North Queens
48              Stapleton
49             Mid Island
Name: Neighborhood, dtype: object

In [762]:
DF1['Neighborhood'].tail(50)

4741                    nan
4743    West Central Queens
4745        Upper East Side
4748            South Shore
4749        Upper East Side
4750        Upper East Side
4754                    nan
4755        Lower East Side
4756        Upper East Side
4757            High Bridge
4758          Gramercy Park
4759         Central Harlem
4760           Borough Park
4761         South Brooklyn
4762    West Central Queens
4763    West Central Queens
4764     Southwest Brooklyn
4765        Upper East Side
4766            West Queens
4767           North Queens
4768       Northwest Queens
4769                    nan
4770        Lower East Side
4771             Mid Island
4772       Central Brooklyn
4773          East New York
4774          East New York
4776            South Shore
4777               Canarsie
4778     Southwest Brooklyn
4779       Central Brooklyn
4781                    nan
4783        Northeast Bronx
4784                    nan
4785               Rockaway
4786                Jamaica
4787         Central Harlem
4788        Upper East Side
4789            West Queens
4790                   Soho
4791          Gramercy Park
4792            Sunset Park
4793        Upper East Side
4794         Central Harlem
4795         South Brooklyn
4796        Upper East Side
4797    West Central Queens
4798                Chelsea
4799            West Queens
4800         South Brooklyn
Name: Neighborhood, dtype: object

In [763]:
##Viewing one specific Row. Row 38. Also Nan
#Did not input this Williamsburg zipcode.

display(DF1.iloc[38])

MAIN_ADDRESS     338 Berry St Apt 4EBrooklyn, NY 11249
Property Type                                   Condo
PRICE                                          1165000
BEDS                                                 1
BATH                                               1.0
PROPERTYSQFT                                     815.0
Brokerages                                    Corcoran
LATITUDE                                     40.711969
LATITUDE                                     40.711969
Borough                                       Brooklyn
Zipcode                                          11249
Neighborhood                                       nan
Name: 38, dtype: object

In [764]:
##Viewing one specific Row. Row 42. Also Nan
#Did not input this Southwest Queens zipcode.

display(DF1.iloc[42])

MAIN_ADDRESS     86-05 91st AveWoodhaven, NY 11421
Property Type                   Multi-family home
PRICE                                      1280000
BEDS                                             7
BATH                                           5.0
PROPERTYSQFT                                2460.0
Brokerages             E Realty International Corp
LATITUDE                                 40.688312
LATITUDE                                 40.688312
Borough                                     Queens
Zipcode                                      11421
Neighborhood                                   nan
Name: 42, dtype: object

In [765]:
#Adding in this neighborhood

DF1.loc[DF1['Zipcode'] ==11249, 'Neighborhood'] = 'Williamsburg'

In [766]:
#Adding in this neighborhood

DF1.loc[DF1['Zipcode'] ==11421, 'Neighborhood'] = 'Southwest Queens'

In [769]:
#Checking, further

DF1['Neighborhood'].tail(50)

4741                    nan
4743    West Central Queens
4745        Upper East Side
4748            South Shore
4749        Upper East Side
4750        Upper East Side
4754                    nan
4755        Lower East Side
4756        Upper East Side
4757            High Bridge
4758          Gramercy Park
4759         Central Harlem
4760           Borough Park
4761         South Brooklyn
4762    West Central Queens
4763    West Central Queens
4764     Southwest Brooklyn
4765        Upper East Side
4766            West Queens
4767           North Queens
4768       Northwest Queens
4769                    nan
4770        Lower East Side
4771             Mid Island
4772       Central Brooklyn
4773          East New York
4774          East New York
4776            South Shore
4777               Canarsie
4778     Southwest Brooklyn
4779       Central Brooklyn
4781           Williamsburg
4783        Northeast Bronx
4784                    nan
4785               Rockaway
4786                Jamaica
4787         Central Harlem
4788        Upper East Side
4789            West Queens
4790                   Soho
4791          Gramercy Park
4792            Sunset Park
4793        Upper East Side
4794         Central Harlem
4795         South Brooklyn
4796        Upper East Side
4797    West Central Queens
4798                Chelsea
4799            West Queens
4800         South Brooklyn
Name: Neighborhood, dtype: object

In [780]:
#Checking individual rows details

DF1.tail(50)

,MAIN_ADDRESS,Property Type,PRICE,BEDS,BATH,PROPERTYSQFT,Brokerages,LATITUDE,LATITUDE,Borough,Zipcode,Neighborhood
4741,"2 River Ter Apt 3FNew York, NY 10282",Condo,1350000,1,2.0,822.000000,Douglas Elliman,40.715296,40.715296,Manhattan,10282,Lower Manhattan
4743,"7502 Austin St Apt 3AForest Hills, NY 11375",Co-op,460000,2,1.0,2184.207862,Bah Realty Group Llc,40.717120,40.717120,Queens,11375,West Central Queens
4745,"115-117 W 87th St Unit TownhouseManhattan, NY ...",Townhouse,10500000,7,10.0,7040.000000,Brown Harris Stevens,40.787573,40.787573,Manhattan,10024,Upper East Side
4748,"284 Corbin AveStaten Island, NY 10308",House,829999,3,2.5,1380.000000,"Robert Defalco Realty, Inc.",40.563706,40.563706,Staten Island,10308,South Shore
4749,"246 W End Ave Apt 6AManhattan, NY 10023",Co-op,1950000,2,2.0,1350.000000,COMPASS,40.779049,40.779049,Manhattan,10023,Upper East Side
4750,"609 Columbus Ave Apt 14CNew York, NY 10024",Co-op,740000,2,2.0,800.000000,Corcoran,40.788708,40.788708,Manhattan,10024,Upper East Side
4754,"152-18 Union Tpke Ph BFlushing, NY 11367",Condo,518000,1,1.0,2184.207862,North East Queens Realty Corp,40.718869,40.718869,Queens,11367,Central Queens
4755,"100 Suffolk St Unit 1DDNew York, NY 10002",Co-op,500000,1,1.0,2184.207862,BH Realty Group,40.717924,40.717924,Manhattan,10002,Lower East Side
4756,"145 Central Park W Apt 1BNew York, NY 10023",Pending,1175000,3,1.0,1500.000000,Corcoran,40.777895,40.777895,Manhattan,10023,Upper East Side
4757,"800 Grand Concourse Apt GmsBronx, NY 10451",Co-op,275000,2,1.0,815.000000,COMPASS,40.824870,40.824870,Bronx,10451,High Bridge
4758,"201 E 21st St Apt 2HManhattan, NY 10010",Co-op,550000,3,1.0,2184.207862,COMPASS,40.737546,40.737546,Manhattan,10010,Gramercy Park
4759,"18 W 127th StNew York, NY 10027",Multi-family home,2500000,3,2.5,4100.000000,R New York,40.807940,40.807940,Manhattan,10027,Central Harlem
4760,"2324 60th StBrooklyn, NY 11204",Multi-family home,2000000,8,2.5,2184.207862,None,40.614758,40.614758,Brooklyn,11204,Borough Park
4761,"2115 Kenmore CtBrooklyn, NY 11235",House,975000,3,2.0,1400.000000,TRACEY REAL ESTATE,40.585665,40.585665,Brooklyn,11235,South Brooklyn
4762,"76-66 Austin St Unit 2OForest Hills, NY 11375",Co-op,279000,1,1.0,800.000000,Benjamin Realty Since 1980,40.715200,40.715200,Queens,11375,West Central Queens
4763,"105-26 65th RdForest Hills, NY 11375",Pending,1058000,3,2.0,2184.207862,Jamie & Connie Real Estate Grp,40.730375,40.730375,Queens,11375,West Central Queens
4764,"460 Ovington Ave Apt 2HBrooklyn, NY 11209",Co-op,189000,3,1.0,300.000000,None,40.632771,40.632771,Brooklyn,11209,Southwest Brooklyn
4765,"329 W 71st St Apt 4New York, NY 10023",Co-op,3450000,3,4.0,1965.000000,Douglas Elliman,40.779477,40.779477,Manhattan,10023,Upper East Side
4766,"60-70 Woodhaven Blvd Unit 3CElmhurst, NY 11373",Condo,550000,2,2.0,721.000000,E Realty International Corp,40.730136,40.730136,Queens,11373,West Queens
4767,"42-22 191 StFlushing, NY 11358",Multi-family home,1499000,5,2.0,1520.000000,Winzone Realty Inc,40.758777,40.758777,Queens,11358,North Queens
4768,"33-54 10th StLong Island City, NY 11106",Multi-family home,1299999,4,2.0,2184.207862,Keller Williams,40.766061,40.766061,Queens,11106,Northwest Queens
4769,"54-44 Litttle Neck Pkwy Unit 3PLittle Neck, NY...",Co-op,219000,1,1.0,2184.207862,Signature Premier Properties,40.765777,40.765777,Queens,11362,Northeast Queens
4770,"242 E 15th St Apt 1New York, NY 10003",Condo,2600000,3,2.0,1729.000000,Sotheby's International Realty,40.733031,40.733031,Manhattan,10003,Lower East Side
4771,"50 Sleepy Hollow RdStaten Island, NY 10314",House,825900,3,2.0,1923.000000,RE MAX,40.594143,40.594143,Staten Island,10314,Mid Island
4772,"850 Saint Marks Ave Apt 2JBrooklyn, NY 11213",Co-op,370000,1,1.0,680.000000,Nest Seekers Bedford,40.674716,40.674716,Brooklyn,11213,Central Brooklyn
4773,"765 Shepherd AveBrooklyn, NY 11208",House,569000,2,1.0,840.000000,CENTURY 21,40.665689,40.665689,Brooklyn,11208,East New York
4774,"21 Adler PlBrooklyn, NY 11208",Multi-family home,890000,4,3.0,2184.207862,Home Global Realty,40.685098,40.685098,Brooklyn,11208,East New York
4776,"780 Stafford AveStaten Island, NY 10309",Pending,555000,3,2.5,2184.207862,CENTURY 21 KR REALTY,40.540344,40.540344,Staten Island,10309,South Shore
4777,"8324 Glenwood RdBrooklyn, NY 11236",Multi-family home,799000,3,2.0,2184.207862,Geo Real Estate Group Inc,40.638624,40.638624,Brooklyn,11236,Canarsie
4778,"2502 84th StBrooklyn, NY 11214",Multi-family home,2300000,3,3.0,2355.000000,STROFFOLINO REALTY LLC,40.598830,40.598830,Brooklyn,11214,Southwest Brooklyn
4779,"217 Remsen AveBrooklyn, NY 11212",House,799000,3,2.0,1989.000000,Fine Choice Realty Inc,40.659260,40.659260,Brooklyn,11212,Central Brooklyn
4781,"49 N 8th St Apt 6EBrooklyn, NY 11249",Condo,2500000,2,2.0,1111.000000,COMPASS,40.720853,40.720853,Brooklyn,11249,Williamsburg
4783,"4568 Carpenter AveBronx, NY 10470",Multi-family home,799000,6,2.5,2000.000000,Silverside Realty LLC,40.902780,40.902780,Bronx,10470,Northeast Bronx
4784,"97-52 75th St Unit B42Ozone Park, NY 11416",Condo,349000,2,1.0,2184.207862,Akcess24homes Inc,40.679752,40.679752,Queens,11416,nan
4785,"557 Beach 129th StQueens, NY 11694",Pending,1299999,6,5.0,3608.000000,RE MAX,40.581207,40.581207,Queens,11694,Rockaway
4786,"164-08 85th AveJamaica, NY 11432",Multi-family home,1380000,12,3.0,2681.000000,Winzone Realty Inc,40.712448,40.712448,Queens,11432,Jamaica
4787,"127 W 112th St Apt 1BNew York, NY 10026",Condo,499000,3,1.0,472.000000,REAL NEW YORK,40.800382,40.800382,Manhattan,10026,Central Harlem
4788,"1175 Park Ave Unit 1CNew York, NY 10128",Co-op,4750000,3,2.5,2969.000000,J Shayovitz Real Estate Corp,40.784392,40.784392,Manhattan,10128,Upper East Side
4789,"51-42 30 Ave Unit 2Woodside, NY 11377",Co-op,285000,1,1.0,2184.207862,New York Way Real Estate Corp,40.758694,40.758694,Queens,11377,West Queens
4790,"109 Lafayette St Rm 502New York, NY 10013",Condo,789000,3,2.5,800.000000,Serhant,40.717926,40.717926,Manhattan,10013,Soho
4791,"342 E 53rd St Apt 6CNew York, NY 10022",Co-op,370000,3,1.0,2184.207862,Corcoran,40.755822,40.755822,Manhattan,10022,Gramercy Park
4792,"448 40th StBrooklyn, NY 11232",Multi-family home,1700000,3,7.0,7854.000000,Ilite Realty Inc,40.651222,40.651222,Brooklyn,11232,Sunset Park
4793,"700 Park Ave Unit 20ANew York, NY 10021",Co-op,1950000,2,4.0,2184.207862,Engel & Vï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½,40.769478,40.769478,Manhattan,10021,Upper East Side
4794,2351 Adam Clayton Powell Jr Blvd Apt 614Manhat...,Condo,945000,2,2.0,903.000000,Brown Harris Stevens,40.816711,40.816711,Manhattan,10030,Central Harlem
4795,"2825-2827 W 15th StBrooklyn, NY 11224",Multi-family home,2999999,15,9.0,3600.000000,RE MAX,40.578450,40.578450,Brooklyn,11224,South Brooklyn
4796,"222 E 80th St Apt 3AManhattan, NY 10075",Co-op,599000,1,1.0,2184.207862,COMPASS,40.774350,40.774350,Manhattan,10075,Upper East Side
4797,"97-40 62 Dr Unit LgRego Park, NY 11374",Co-op,245000,1,1.0,2184.207862,Mjr Real Estate Llc,40.732538,40.732538,Queens,11374,West Central Queens
4798,"427 W 21st St Unit GardenNew York, NY 10011",Co-op,1275000,1,1.0,2184.207862,Douglas Elliman,40.745882,40.745882,Manhattan,10011,Chelsea
4799,"91-23 Corona Ave Unit 4GElmhurst, NY 11373",Condo,598125,2,1.0,655.000000,E Realty International Corp,40.742770,40.742770,Queens,11373,West Queens
4800,"460 Neptune Ave Apt 14OBrooklyn, NY 11224",Co-op,349000,1,1.0,750.000000,Nyc Realty Brokers Llc,40.579147,40.579147,Brooklyn,11224,South Brooklyn

In [772]:
#Adding zipcode

DF1.loc[DF1['Zipcode'] ==10282, 'Neighborhood'] = 'Lower Manhattan'

In [781]:
#Adding zipcode

DF1.loc[DF1['Zipcode'] ==11416, 'Neighborhood'] = 'Southwest Queens'

In [782]:
#Rechecking to see if any Nan
#Cleared of any visible Nan

DF1['Neighborhood'].head(50)

0           Gramercy Park
1                 Chelsea
2             South Shore
3           Gramercy Park
4         Upper East Side
5        Central Brooklyn
6          Central Harlem
7               Stapleton
8         Southeast Bronx
9            Borough Park
10            High Bridge
11          Port Richmond
12            West Queens
13            West Queens
14                   Soho
15            South Shore
16            West Queens
17     Southwest Brooklyn
18              Riverdale
19    West Central Queens
20              Stapleton
21    West Central Queens
22        Southeast Bronx
23              Stapleton
24            South Shore
25                Jamaica
26            West Queens
27     Southwest Brooklyn
28            West Queens
29              Stapleton
30        Southeast Bronx
31             Mid Island
32          Port Richmond
33          East New York
34           Borough Park
35           Borough Park
36              Stapleton
37           North Queens
38           Williamsburg
39            South Shore
40          Central Bronx
41           Borough Park
42       Southwest Queens
43            High Bridge
44           North Queens
45                Jamaica
46                   Soho
47           North Queens
48              Stapleton
49             Mid Island
Name: Neighborhood, dtype: object

In [783]:
#Also no Nan on tail end
#Cleared to proceed.

DF1['Neighborhood'].tail(50)

4741        Lower Manhattan
4743    West Central Queens
4745        Upper East Side
4748            South Shore
4749        Upper East Side
4750        Upper East Side
4754         Central Queens
4755        Lower East Side
4756        Upper East Side
4757            High Bridge
4758          Gramercy Park
4759         Central Harlem
4760           Borough Park
4761         South Brooklyn
4762    West Central Queens
4763    West Central Queens
4764     Southwest Brooklyn
4765        Upper East Side
4766            West Queens
4767           North Queens
4768       Northwest Queens
4769       Northeast Queens
4770        Lower East Side
4771             Mid Island
4772       Central Brooklyn
4773          East New York
4774          East New York
4776            South Shore
4777               Canarsie
4778     Southwest Brooklyn
4779       Central Brooklyn
4781           Williamsburg
4783        Northeast Bronx
4784       Southwest Queens
4785               Rockaway
4786                Jamaica
4787         Central Harlem
4788        Upper East Side
4789            West Queens
4790                   Soho
4791          Gramercy Park
4792            Sunset Park
4793        Upper East Side
4794         Central Harlem
4795         South Brooklyn
4796        Upper East Side
4797    West Central Queens
4798                Chelsea
4799            West Queens
4800         South Brooklyn
Name: Neighborhood, dtype: object

## Renaming columns

In [784]:
#Current column names are not very user friendly

DF1.head(1)

,MAIN_ADDRESS,Property Type,PRICE,BEDS,BATH,PROPERTYSQFT,Brokerages,LATITUDE,LATITUDE,Borough,Zipcode,Neighborhood
0,"2 E 55th St Unit 803New York, NY 10022",Condo,315000,2,2.0,1400.0,Douglas Elliman,40.761255,40.761255,Manhattan,10022,Gramercy Park

In [785]:
DF1.rename(columns = {'MAIN_ADDRESS' : 'Address'}, inplace = True)

In [786]:
DF1.rename(columns = {'PRICE' : 'Price'}, inplace = True)

In [787]:
DF1.rename(columns = {'BEDS' : 'Beds'}, inplace = True)

In [788]:
DF1.rename(columns = {'BATH' : 'Bath'}, inplace = True)

In [789]:
DF1.rename(columns = {'PROPERTYSQFT' : 'Square Feet'}, inplace = True)

In [791]:
DF1.rename(columns = {'LATITUDE' : 'Latitude'}, inplace = True)

In [792]:
DF1.columns

Index(['Address', 'Property Type', 'Price', 'Beds', 'Bath', 'Square Feet',
       'Brokerages', 'Latitude', 'Latitude', 'Borough', 'Zipcode',
       'Neighborhood'],
      dtype='object')

In [796]:
DF1.head(1)

,Address,Property Type,Price,Beds,Bath,Square Feet,Brokerages,Latitude,Latitude,Borough,Zipcode,Neighborhood
0,"2 E 55th St Unit 803New York, NY 10022",Condo,315000,2,2.0,1400.0,Douglas Elliman,40.761255,40.761255,Manhattan,10022,Gramercy Park

## 18.	Merging column from one Dataframe to another DataFrame

Adding Longitude back into DF1

In [800]:
#Original DF had Longitude

DF.head(1)

,BROKERTITLE,TYPE,PRICE,BEDS,BATH,PROPERTYSQFT,ADDRESS,STATE,MAIN_ADDRESS,ADMINISTRATIVE_AREA_LEVEL_2,LOCALITY,SUBLOCALITY,STREET_NAME,LONG_NAME,FORMATTED_ADDRESS,LATITUDE,LONGITUDE
0,Brokered by Douglas Elliman -111 Fifth Ave,Condo for sale,315000,2,2.0,1400.0,2 E 55th St Unit 803,"New York, NY 10022","2 E 55th St Unit 803New York, NY 10022",New York County,New York,Manhattan,East 55th Street,Regis Residence,"Regis Residence, 2 E 55th St #803, New York, N...",40.761255,-73.974483

In [801]:
#Accidentally deleted Longtiude along the way

#Need to add Longitude from DF to DF1
DF1.head(1)

,Address,Property Type,Price,Beds,Bath,Square Feet,Brokerages,Latitude,Latitude,Borough,Zipcode,Neighborhood
0,"2 E 55th St Unit 803New York, NY 10022",Condo,315000,2,2.0,1400.0,Douglas Elliman,40.761255,40.761255,Manhattan,10022,Gramercy Park

In [798]:
extract_col = DF['LONGITUDE']

In [799]:
print("LONGITUDE")
display(extract_col)

LONGITUDE

0      -73.974483
1      -73.980991
2      -74.196109
3      -73.974613
4      -73.969856
          ...
4796   -73.955879
4797   -73.860152
4798   -74.003398
4799   -73.872752
4800   -73.970949
Name: LONGITUDE, Length: 4801, dtype: float64

In [802]:
#Sucessfully extracted Longitude

DF1 = pd.concat([DF1, extract_col.rename("Longitude")], axis=1)

In [803]:
#Checking to see Longitude

DF1.head(1)

,Address,Property Type,Price,Beds,Bath,Square Feet,Brokerages,Latitude,Latitude,Borough,Zipcode,Neighborhood,Longitude
0,"2 E 55th St Unit 803New York, NY 10022",Condo,315000.0,2,2.0,1400.0,Douglas Elliman,40.761255,40.761255,Manhattan,10022.0,Gramercy Park,-73.974483

In [808]:
#Deleting Latitude

DF1.rename(columns = {'Latitude' : 'Latitude_delete'}, inplace = True)

In [813]:
##Deleting Latitude

DF1 = DF1.drop(columns=['Latitude_delete'])

In [814]:
#Checking to see Latitude deleted

DF1.columns

Index(['Address', 'Property Type', 'Price', 'Beds', 'Bath', 'Square Feet',
       'Brokerages', 'Borough', 'Zipcode', 'Neighborhood', 'Longitude'],
      dtype='object')

In [ ]:
#Re adding Latitude properly

In [815]:
extract_col2 = DF['LATITUDE']

In [816]:
print("LATITUDE")
display(extract_col2)

LATITUDE

0       40.761255
1       40.766393
2       40.541805
3       40.761398
4       40.767224
          ...
4796    40.774350
4797    40.732538
4798    40.745882
4799    40.742770
4800    40.579147
Name: LATITUDE, Length: 4801, dtype: float64

In [817]:
#Sucessfully extracted Latitude

DF1 = pd.concat([DF1, extract_col2.rename("Latitude")], axis=1)

In [818]:
DF1.head(1)

,Address,Property Type,Price,Beds,Bath,Square Feet,Brokerages,Borough,Zipcode,Neighborhood,Longitude,Latitude
0,"2 E 55th St Unit 803New York, NY 10022",Condo,315000.0,2,2.0,1400.0,Douglas Elliman,Manhattan,10022.0,Gramercy Park,-73.974483,40.761255

## Checking for missing values

In [819]:
DF1.isnull().sum()

Address          214
Property Type    214
Price            214
Beds             214
Bath             214
Square Feet      214
Brokerages       247
Borough          214
Zipcode          214
Neighborhood     214
Longitude          0
Latitude           0
dtype: int64

In [821]:
DF1[DF1['Address'].isnull()==True]

,Address,Property Type,Price,Beds,Bath,Square Feet,Brokerages,Borough,Zipcode,Neighborhood,Longitude,Latitude
81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-73.949998,40.783355
115,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-73.877087,40.665357
116,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-73.838104,40.683789
149,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-73.796529,40.688533
214,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-73.967872,40.765172
...,...,...,...,...,...,...,...,...,...,...,...,...
4752,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-74.007273,40.734599
4753,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-73.984881,40.736983
4775,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-73.880027,40.668173
4780,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-73.975714,40.614758
4782,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-73.985037,40.733031

In [822]:
#Dropped all of the null values above, they do not contribute anyways.

DF1.dropna(inplace = True)

In [823]:
DF1.isnull().sum()

Address          0
Property Type    0
Price            0
Beds             0
Bath             0
Square Feet      0
Brokerages       0
Borough          0
Zipcode          0
Neighborhood     0
Longitude        0
Latitude         0
dtype: int64

In [831]:
#Export File
DF1.to_csv('/Users/winsontom/Desktop/Career Foundry/Part 8- Final CF Immersion/2.0 Project/Clean_Data.csv')